<div id="cheaper-popup" class="white-popup mfp-with-anim middle-popup">
  <h2 class="popup-header"><?php echo $heading_title; ?></h2>
  <div class="row">
    <div class="popup-text col-md-6">
      <?php if (isset($thumb)) { ?>
      <img src="<?php echo $thumb; ?>" alt="" class="img-responsive" />
      <?php } ?>
      <?php if (isset($heading_title_product)) { ?>
      <h3 class="popup-h3 blue"><?php echo $heading_title_product; ?></h3>
      <?php } ?>
      <?php if ($price) { ?>
        <div class="product-price">
          <?php if (!$special) { ?>
            <span id="main-price"><?php echo $price; ?></span>
          <?php } else { ?>
            <span id="special-price" class="oct-price-old"><?php echo $price; ?></span>
            <span id="main-price" class="oct-price-new"><?php echo $special; ?></span>
          <?php } ?>
        </div>
      <?php } ?>
    </div>
    <form method="post" enctype="multipart/form-data" id="found-cheaper-form" class="col-md-6">
      <div class="popup-form-box">
        <?php if ($oct_popup_found_cheaper_data['name']) { ?>
          <input type="text" class="input-text" name="name" value="<?php echo $name;?>" placeholder="<?php echo $enter_name; ?>" />
        <?php } ?>
        <?php if ($oct_popup_found_cheaper_data['telephone']) { ?>
          <input type="tel" class="input-text" name="telephone" value="<?php echo $telephone;?>" placeholder="<?php echo $enter_telephone; ?>" />
        <?php } ?>
        <?php if (isset($oct_popup_found_cheaper_data['email']) && $oct_popup_found_cheaper_data['email']) { ?>
        <input type="email" name="email" value="<?php echo $email;?>" placeholder="<?php echo $enter_email; ?>" />
        <?php } ?>
        <?php if ($oct_popup_found_cheaper_data['link']) { ?>
          <input type="text" class="input-text" name="link" value="<?php echo $link;?>" placeholder="<?php echo $enter_link; ?>" class="datetime" />
        <?php } ?>
        <?php if ($oct_popup_found_cheaper_data['comment']) { ?>
          <textarea name="comment" placeholder="<?php echo $enter_comment; ?>"><?php echo $comment;?></textarea>
        <?php } ?>
        <?php if ($text_terms) { ?>
          <div>
            <?php echo $text_terms; ?> <input type="checkbox" name="terms" value="1" style="width:auto;height:auto;clear: right;" />
          </div>
        <?php } ?>
      </div>
      <input type="hidden" name="pid" value="<?php echo $href; ?>">
      <input type="hidden" name="mid" value="<?php echo $model; ?>">
    </form>
  </div>
	<div class="popup-buttons-box">
    <a class="popup-button" id="popup-send-button"><?php echo $button_send; ?></a>
	</div>

  
<?php if ($mask) { ?>
<script src="catalog/view/theme/oct_techstore/js/input-mask.js"></script>
<script>
  $("#found-cheaper-form input[name=\'telephone\']").inputmask({'mask': '<?php echo str_replace("0", "9", $mask); ?>'});
</script>
<?php } ?>
<script><!--
  
  function masked(element, status) {
    if (status == true) {
      $('<div/>')
      .attr({ 'class':'masked' })
      .prependTo(element);
      $('<div class="masked_loading" />').insertAfter($('.masked'));
    } else {
      $('.masked').remove();
      $('.masked_loading').remove();
    }
  }
  $('#popup-send-button').on('click', function() {
    masked('#cheaper-popup', true);
    $.ajax({
      type: 'post',
      url:  'index.php?route=extension/module/oct_popup_found_cheaper/send',
      dataType: 'json',
      data: $('#found-cheaper-form').serialize(),
      success: function(json) {
        if (json['error']) {
          if (json['error']['field']) {
            masked('#cheaper-popup', false);
            $('#cheaper-popup .text-danger').remove();
            $.each(json['error']['field'], function(i, val) {
              $('#cheaper-popup [name="' + i + '"]').addClass('error_style').after('<div class="text-danger">' + val + '</div>');
            });
          }
        } else {
          if (json['output']) {
            masked('#cheaper-popup', false);
            $('#cheaper-popup > .popup-buttons-box').remove();
            $('#cheaper-popup > .row').html(json['output']);
          }
        }
      }
    });
  });
  //--></script>
</div>
