<footer>
	<?php if (isset($oct_popup_call_phone_data['status']) && $oct_popup_call_phone_data['status'] == 1) { ?>
		<a class="field-tip" onclick="get_oct_popup_call_phone();" id="uptocall-mini"><div class="uptocall-mini-phone"><i class="fa fa-phone" aria-hidden="true"></i></div><span class="tip-content"><?php echo $popup_call_phone_text['call_back']; ?></span></a>
	<?php } ?>
  <div class="container">
		<?php if ($garanted_text) { ?>
			<div class="row second-row">
				<div class="footer-advantages-box">
					<?php foreach ($garanted_text as $garanted) { ?>
						<div class="col-sm-3 col-xs-6 footer-advantages">
							<a href="<?php echo ($garanted['popup'] == 'on' && $garanted['link'] && $garanted['link'] != '#') ? 'javascript:;' : $garanted['link']; ?>" <?php if ($garanted['popup'] == 'on' && $garanted['link'] && $garanted['link'] != '#') { ?>id="open-popup-foot-garanted-<?php echo $garanted['id']; ?>"<?php } ?>>
								<?php if ($garanted['icon']) { ?>
	                				<i class="<?php echo $garanted['icon']; ?>" aria-hidden="true"></i>
	              				<?php } ?>
								<div class="h5"><?php echo $garanted['name']; ?></div>
							</a>
							<?php if ($garanted['text']) { ?>
								<span><?php echo $garanted['text']; ?></span>
							<?php } ?>
							<?php if ($garanted['popup'] == 'on' && $garanted['link'] && $garanted['link'] != '#') { ?>
				            <script>
				              $(document).delegate('#open-popup-foot-garanted-<?php echo $garanted['id']; ?>', 'click', function(e) {
				                e.preventDefault();

				                var element = this;

				                $.ajax({
				                  url: '<?php echo str_replace('&amp;','&',$garanted['link']); ?>',
				                  type: 'get',
				                  dataType: 'html',
				                  success: function(data) {
				                  	$.magnificPopup.open({
						              tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
						              items: {
						                src:  '<div id="service-popup" class="white-popup mfp-with-anim narrow-popup">'+
												'<h2 class="popup-header">' + $(element).next().text() + '</h2>'+
												'<div class="popup-text service-popup-text">'+
													'<p>' + data + '</p>'+
												'</div>'+
											'</div>',
			                			type: 'inline'
						              },
						              showCloseBtn: true,
						              midClick: true,
									  removalDelay: 200
						            });
				                  }
				                });
				              });
				            </script>
				            <?php } ?>
						</div>
					<?php } ?>
				</div>
			</div>
			<hr>
    <?php } ?>
			<?php if ($oct_techstore_data['foot_show_soclinks'] == 'on') { ?>
			<div class="row first-row">
				<?php echo $oct_popup_subscribe; ?>
				<div class="col-md-3 hidden-sm hidden-xs text-right">
					<div class="h5"><?php echo $text_contact_us; ?></div>
				</div>
				<div class="col-md-2 col-sm-5 text-left socials-box">
					<?php if ($oct_techstore_data['ps_facebook_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_facebook_id']; ?>" title="Facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_instagram']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_instagram']; ?>" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_vk_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_vk_id']; ?>" title="Vkonakte" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_gplus_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_gplus_id']; ?>" title="Google Plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_odnoklass_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_odnoklass_id']; ?>" title="Odnoklassniki" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_twitter_username']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_twitter_username']; ?>" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_vimeo_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_vimeo_id']; ?>" title="Vimeo" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_pinterest_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_pinterest_id']; ?>" title="Pinterest" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_flick_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_flick_id']; ?>" title="Flickr" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ($oct_techstore_data['ps_youtube_id']) { ?>
					<a rel="nofollow" href="<?php echo $oct_techstore_data['ps_youtube_id']; ?>" title="Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
					<?php } ?>
				</div>
			</div>
			<hr>
			<?php } ?>
		  <?php if ($oct_techstore_data['foot_show_contact_link'] == 'on') { ?>
		  <div class="row third-row">
		    <div class="col-sm-3">
		      <div class="h5"><?php echo $text_information; ?> <a class="f-acc-toggle"></a></div>
		      <ul class="list-unstyled">
		      	<?php if ($oct_techstore_footer_informations) { ?>
			        <?php foreach ($oct_techstore_footer_informations as $information) { ?>
			        <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>
			        <?php } ?>
		        <?php } ?>
		        <?php if ($oct_techstore_data['foot_show_block_contact_link'] == 'on') { ?>
		        <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
		        <?php } ?>
		        <?php if ($oct_techstore_data['foot_show_block_return_link'] == 'on') { ?>
		        <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
		        <?php } ?>
		        <?php if ($oct_techstore_data['foot_show_block_sitemap_link'] == 'on') { ?>
		        <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>
		        <?php } ?>
		        <?php if ($oct_techstore_data['foot_show_block_manufacturer_link'] == 'on') { ?>
		        <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
		        <?php } ?>
		        <?php if ($oct_techstore_data['foot_show_block_voucher_link'] == 'on') { ?>
		        <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
		        <?php } ?>
		        <?php if ($oct_techstore_data['foot_show_block_affiliate_link'] == 'on') { ?>
		        <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
		        <?php } ?>
		        <?php if ($oct_techstore_data['foot_show_block_special_link'] == 'on') { ?>
		        <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
		        <?php } ?>
		      </ul>
		    </div>
		    <?php if ($oct_techstore_footer_categories) { ?>
		    <div class="col-sm-3">
		      <div class="h5"><?php echo $text_categories; ?> <a class="f-acc-toggle"></a></div>
		      <ul class="list-unstyled">
		      	<?php foreach ($oct_techstore_footer_categories as $category) { ?>
						  <li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
		        <?php } ?>
		      </ul>
		    </div>
		    <?php } ?>
		    <div class="col-sm-3">
		      <div class="h5"><?php echo $text_account; ?> <a class="f-acc-toggle"></a></div>
		      <ul class="list-unstyled">
		        <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
		        <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
		        <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
		        <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
		      </ul>
		    </div>
		    <div class="col-sm-3 footer-contacts">
				<div class="h5"><?php echo $text_our_contacts; ?> <a class="f-acc-toggle"></a></div>
				<ul class="footer-contacts-ul">
					<?php if ($oct_techstore_cont_adress) { ?>
					<li><i class="fa fa-map-marker" aria-hidden="true"></i> <?php echo $oct_techstore_cont_adress; ?></li>
					<?php } ?>
					<?php if ($oct_techstore_cont_phones) { ?>
						<?php foreach($oct_techstore_cont_phones as $element) { ?>
							<li><a href="#" class="phoneclick" onclick="window.location.href='tel:+<?php echo preg_replace('/\D/', '', $element); ?>';return false;"><i class="fa fa-phone" aria-hidden="true"></i><?php echo $element; ?></a></li>
						<?php } ?>
					<?php } ?>
					<?php if ($oct_techstore_cont_email) { ?>
					<li><a href="mailto:<?php echo $oct_techstore_cont_email; ?>"><i class="fa fa-envelope" aria-hidden="true"></i> <?php echo $oct_techstore_cont_email; ?></a></li>
					<?php } ?>
					<?php if ($oct_techstore_cont_skype) { ?>
					<li><a href="skype:<?php echo $oct_techstore_cont_skype; ?>?chat"><i class="fa fa-skype" aria-hidden="true"></i> <?php echo $oct_techstore_cont_skype; ?></a></li>
					<?php } ?>
					<?php if ($oct_techstore_cont_clock) { ?>
						<?php foreach ($oct_techstore_cont_clock as $clock) { ?>
				        	<li><i class="fa fa-calendar" aria-hidden="true"></i> <?php echo $clock; ?></li>
				        	<?php } ?>
					<?php } ?>
					<?php if ((isset($oct_techstore_data['ps_whatsapp_id']) && strlen($oct_techstore_data['ps_whatsapp_id']) > 1) or (isset($oct_techstore_data['ps_telegram_id']) && strlen($oct_techstore_data['ps_telegram_id']) > 1) or (isset($oct_techstore_data['ps_viber_id']) && strlen($oct_techstore_data['ps_viber_id']) > 1)) { ?>
					<li class="oct-messengers">
					<?php } ?>
					<?php if(isset($oct_techstore_data['ps_whatsapp_id']) && strlen($oct_techstore_data['ps_whatsapp_id']) > 1) { ?>
						<a class="oct-messengers-whatsapp" rel="nofollow" href="https://api.whatsapp.com/send?phone=<?php echo $oct_techstore_data['ps_whatsapp_id']; ?>" title="Whatsapp" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if(isset($oct_techstore_data['ps_telegram_id']) && strlen($oct_techstore_data['ps_telegram_id']) > 1) { ?>
						<a class="oct-messengers-telegram" rel="nofollow" href="http://t.me/<?php echo $oct_techstore_data['ps_telegram_id']; ?>" title="Telegram" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if(isset($oct_techstore_data['ps_viber_id']) && strlen($oct_techstore_data['ps_viber_id']) > 1) { ?>
						<a rel="nofollow" class="oct-messengers-viber viber-mobile" href="viber://add?number=<?php echo $oct_techstore_data['ps_viber_id']; ?>" title="Viber" target="_blank"><i class="fa fa-viber" aria-hidden="true"></i></a>
						<a rel="nofollow" class="oct-messengers-viber viber-desktop" href="viber://chat?number=+<?php echo $oct_techstore_data['ps_viber_id']; ?>" title="Viber" target="_blank"><i class="fa fa-viber" aria-hidden="true"></i></a>
					<?php } ?>
					<?php if ((isset($oct_techstore_data['ps_whatsapp_id']) && strlen($oct_techstore_data['ps_whatsapp_id']) > 1) or (isset($oct_techstore_data['ps_telegram_id']) && strlen($oct_techstore_data['ps_telegram_id']) > 1) or (isset($oct_techstore_data['ps_viber_id']) && strlen($oct_techstore_data['ps_viber_id']) > 1)) { ?>
					</li>
					<?php } ?>
				</ul>
			</div>
		  </div>
	  <?php } ?>
	  <?php if ($oct_techstore_data['foot_show_copy_and_payment'] == 'on') { ?>
    <div class="row last-row">
	    <div class="col-sm-4 col-xs-12">
  			<span class="oct-copy"><?php echo $oct_powered; ?></span>
  		</div>
	    <div class="col-sm-8 col-xs-12 text-right payment-box">
		    <span class="text-payments"><?php echo $text_payments; ?></span>
				<?php if ($oct_techstore_data['ps_sberbank'] == 'on') { ?>
				<span class="sberbank"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_privat'] == 'on') { ?>
				<span class="privat24"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_yamoney'] == 'on') { ?>
				<span class="yandex-money"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_webmoney'] == 'on') { ?>
				<span class="webmoney"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_visa'] == 'on') { ?>
				<span class="visa"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_qiwi'] == 'on') { ?>
				<span class="qiwi"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_skrill'] == 'on') { ?>
				<span class="skrill"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_interkassa'] == 'on') { ?>
				<span class="interkassa"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_liqpay'] == 'on') { ?>
				<span class="liqpay"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_paypal'] == 'on') { ?>
				<span class="paypal"></span>
				<?php } ?>
				<?php if ($oct_techstore_data['ps_robokassa'] == 'on') { ?>
				<span class="robokassa"></span>
				<?php } ?>
				<?php echo (isset($oct_techstore_data['ps_mastercard']) && $oct_techstore_data['ps_mastercard'] == 'on') ? '<span class="mastercard"></span>' : ''; ?>
				<?php echo (isset($oct_techstore_data['ps_maestro']) && $oct_techstore_data['ps_maestro'] == 'on') ? '<span class="maestro"></span>' : ''; ?>
				<?php if ($ps_additional_icons) { ?>
				<?php foreach ($ps_additional_icons as $ps_additional_icon) { ?>
				<span class="custom-payment"><img src="<?php echo $ps_additional_icon['image']; ?>" alt=""></span>
				<?php } ?>
				<?php } ?>
    	</div>
		</div>
		<?php } ?>
  </div>
</footer>
</div>
<?php if(isset($oct_information_bar_value) && !empty($oct_information_bar_value) && $oct_information_bar_value) { ?>
<style>
#oct-information_bar {background: <?php echo $oct_information_bar_background; ?>;}
.oct-information_bar-text {color: <?php echo $oct_information_bar_color_text; ?>;}
.oct-information_bar-text a {color: <?php echo $oct_information_bar_color_url; ?>;}
#oct-information_bar-btn {background: <?php echo $oct_information_bar_background_button; ?>; color: <?php echo $oct_information_bar_color_text_button; ?>;}
#oct-information_bar-btn:hover {background: <?php echo $oct_information_bar_background_button_hover; ?>; color: <?php echo $oct_information_bar_color_text_button_hover; ?>;}
</style>
<?php } ?>
<?php if ($oct_page_bar) { ?>
<?php echo $oct_page_bar; ?>
<?php } ?>
<?php if (!$oct_page_bar) { ?>
<style>
footer {margin-bottom:0 !important;}
</style>
<?php } ?>
<?php if (isset($oct_popup_subscribe_form_data['status']) && $oct_popup_subscribe_form_data['status']) { ?>
<script>
$(function() {
  <?php $expire = $oct_popup_subscribe_form_data['expire'] ? $oct_popup_subscribe_form_data['expire'] : '1';
   $expire_ms = isset($oct_popup_subscribe_form_data['seconds']) ? $oct_popup_subscribe_form_data['seconds'] : '10000'; ?>
  <?php setcookie('oct_popup_subscribe', 1, time() + (60*60*24*$expire), "/"); ?>
  var expire_timer = "<?php echo $expire_ms; ?>";
  var expire_timeout = setTimeout(function(){
  get_oct_popup_subscribe();
  }, expire_timer);
  <?php if (isset($_COOKIE['oct_popup_subscribe'])) { ?>
  clearTimeout(expire_timeout);
  <?php } ?>
});
</script>
<?php } ?>
<?php if (isset($oct_popup_product_options_data['status']) && $oct_popup_product_options_data['status']) { ?>
<script>
$(document).ajaxSuccess(function(event, xhr, settings) {
  if (settings.url == "index.php?route=checkout/cart/add") {
    if (xhr.responseText.indexOf("error") > 0) {
      get_oct_popup_product_options(oct_get_product_id(settings.data));
    }
  }
});
</script>
<?php } ?>
<p id="back-top">
  <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</p>
<div class="menu-bckgr"></div>

<?php if (isset($analytics) && !empty($analytics)) { ?>
<?php echo $analytics; ?>
<?php } ?>
<script>
function get_oct_popup_found_cheaper(product_id) {
	setTimeout(function () {
		$.magnificPopup.open({
			tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
			items: {
				src: 'index.php?route=extension/module/oct_popup_found_cheaper&product_id=' + product_id,
				type: 'ajax'
			},
			midClick: true,
			removalDelay: 200
		});
	}, 1);
}

function get_oct_popup_purchase(product_id) {
	setTimeout(function () {
		$.magnificPopup.open({
			tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
			items: {
				src: 'index.php?route=extension/module/oct_popup_purchase&product_id=' + product_id,
				type: 'ajax'
			},
			midClick: true,
			removalDelay: 200
		});
	}, 1);
}

function get_oct_popup_subscribe() {
	$.magnificPopup.open({
		tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
		items: {
			src: 'index.php?route=extension/module/oct_popup_subscribe',
			type: 'ajax'
		},
		midClick: true,
		removalDelay: 200
	});
}

function get_oct_popup_call_phone() {
	$.magnificPopup.open({
		tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
		items: {
			src: 'index.php?route=extension/module/oct_popup_call_phone',
			type: 'ajax'
		},
		midClick: true,
		removalDelay: 200
	});
}

function get_oct_product_preorder(product_id) {
	$.magnificPopup.open({
		tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
		items: {
			src: 'index.php?route=extension/module/oct_product_preorder&product_id=' + product_id,
			type: 'ajax'
		},
		midClick: true,
		removalDelay: 200
	});
}

function oct_get_product_id(data) {
	var product_id = 0;
	var arr = data.split("&");

	for (var i = 0; i < arr.length; i++) {
		var product_id = arr[i].split("=");
		if (product_id[0] === "product_id") {
			return product_id[1];
		}
	}
}

function get_oct_popup_product_options(product_id) {
	$.magnificPopup.open({
		tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
		items: {
			src: "index.php?route=extension/module/oct_popup_product_options&product_id=" + product_id,
			type: "ajax"
		},
		midClick: true,
		removalDelay: 200
	});
}

function get_oct_popup_product_view(product_id) {
	$.magnificPopup.open({
		tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
		items: {
			src: "index.php?route=extension/module/oct_popup_view&product_id=" + product_id,
			type: "ajax"
		},
		midClick: true,
		removalDelay: 200
	});
}

function get_oct_popup_login() {
	$.magnificPopup.open({
		tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
		items: {
			src: "index.php?route=extension/module/oct_popup_login",
			type: "ajax"
		},
		midClick: true,
		removalDelay: 200
	});
}

function get_oct_popup_add_to_wishlist(product_id) {
	$.ajax({
		url: "index.php?route=account/wishlist/add",
		type: "post",
		data: "product_id=" + product_id,
		dataType: "json",
		success: function (json) {
			$.magnificPopup.open({
				tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
				items: {
					src: "index.php?route=extension/module/oct_popup_add_to_wishlist&product_id=" + product_id,
					type: "ajax"
				},
				midClick: true,
				removalDelay: 200
			});

			$("#wishlist-total span").html(json['total']);
			$("#wishlist-total").attr("title", json['total']);

			$.ajax({
				url: 'index.php?route=extension/module/oct_page_bar/update_html',
				type: 'get',
				dataType: 'json',
				success: function (json) {
					$("#oct-favorite-quantity").html(json['total_wishlist']);
				}
			});

		},
		error: function (xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}

function remove_wishlist(product_id) {
	$.ajax({
		url: "index.php?route=extension/module/oct_page_bar/remove_wishlist&remove=" + product_id,
		type: "get",
		dataType: "json",
		success: function (json) {
			$.ajax({
				url: 'index.php?route=extension/module/oct_page_bar/update_html',
				type: 'get',
				dataType: 'json',
				success: function (json) {
					$("#oct-favorite-quantity").html(json['total_wishlist']);
				}
			});

			$('#oct-favorite-content').load('index.php?route=extension/module/oct_page_bar/block_wishlist');
		},
		error: function (xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}

function get_oct_popup_add_to_compare(product_id) {
	$.ajax({
		url: "index.php?route=product/compare/add",
		type: "post",
		data: "product_id=" + product_id,
		dataType: "json",
		success: function (json) {
			$.magnificPopup.open({
				tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
				items: {
					src: "index.php?route=extension/module/oct_popup_add_to_compare&product_id=" + product_id,
					type: "ajax"
				},
				midClick: true,
				removalDelay: 200
			});

			$("#compare-total").html(json['total']);

			$.ajax({
				url: 'index.php?route=extension/module/oct_page_bar/update_html',
				type: 'get',
				dataType: 'json',
				success: function (json) {
					$("#oct-compare-quantity").html(json['total_compare']);
				}
			});
		},
		error: function (xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}

function remove_compare(product_id) {
	$.ajax({
		url: "index.php?route=extension/module/oct_page_bar/remove_compare&remove=" + product_id,
		type: "get",
		dataType: "json",
		success: function (json) {
			$.ajax({
				url: 'index.php?route=extension/module/oct_page_bar/update_html',
				type: 'get',
				dataType: 'json',
				success: function (json) {
					$("#oct-compare-quantity").html(json['total_compare']);
				}
			});

			$('#oct-compare-content').load('index.php?route=extension/module/oct_page_bar/block_compare');
		},
		error: function (xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}

function get_oct_popup_cart() {
	$.magnificPopup.open({
		tLoading: '<img src="catalog/view/theme/oct_techstore/image/ring-alt.svg" />',
		items: {
			src: "index.php?route=extension/module/oct_popup_cart",
			type: "ajax"
		},
		midClick: !0,
		removalDelay: 200
	})
}

function get_oct_popup_add_to_cart(product_id, quantity) {
	$.ajax({
		url: "index.php?route=checkout/cart/add",
		type: "post",
		data: "product_id=" + product_id + "&quantity=" + ("undefined" != typeof quantity ? quantity : 1),
		dataType: "json",
		success: function (json) {
			if (json['redirect']) {
				location = json['redirect'];
			}

			if (json['success']) {
				get_oct_popup_cart();

				$("#cart-total").html(json['total']);
				$('#cart > ul').load('index.php?route=common/cart/info ul li');

				if(typeof octYandexEcommerce == 'function') {
					octYandexEcommerce(json);
			    }

				$.ajax({
					url: 'index.php?route=extension/module/oct_page_bar/update_html',
					type: 'get',
					dataType: 'json',
					success: function (json) {
						$("#oct-bottom-cart-quantity").html(json['total_cart']);
					}
				});
			}
		},
		error: function (xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}

function validate(input) {
	input.value = input.value.replace(/[^\d,]/g, '');
}

function doLiveSearch(a, b) {
	return 38 != a.keyCode && 40 != a.keyCode && ($("#livesearch_search_results").remove(), updown = -1, !("" == b || b.length < 3 || (b = encodeURI(b), $.ajax({
		url: $("base").attr("href") + "index.php?route=product/search/ajax&keyword=" + b + "&filter_category_id=" + $('#search input[name=category_id]').val(),
		dataType: "json",
		success: function (a) {
			if (a.length > 0) {
				var c = document.createElement("ul");
				c.id = "livesearch_search_results";
				var d, e;
				for (var f in a) {
					if (d = document.createElement("li"), eListHr = document.createElement("hr"), eListDiv = document.createElement("div"), eListDiv.setAttribute("style", "height: 10px; clear: both;"), eListDivpr = document.createElement("span"), eListDivpr.innerHTML = (a[f].price) ? a[f].price : '', eListDivpr.setAttribute("style", "height: 14px; color: #147927;"), eListDivprspec = document.createElement("span"), eListDivprspec.innerHTML = a[f].special, eListDivprspec.setAttribute("style", "font-weight: bold; margin-left: 8px; color: #a70d0d; font-size: 16px;"), eListImg = document.createElement("img"), eListImg.src = a[f].image, eListImg.setAttribute("style", "margin-right: 10px;"), eListImg.align = "left", eListDivstatus = document.createElement("span"), eListDivstatus.innerHTML = a[f].stock, eListDivstatus.setAttribute("style", "height: 14px; color: #337ab7; margin-left: 15px; font-weight: bold;"), e = document.createElement("a"), e.setAttribute("style", "display: block;"), e.appendChild(document.createTextNode(a[f].name)), "undefined" != typeof a[f].href) {
						"" != a[f].special && eListDivpr.setAttribute("style", "text-decoration: line-through;");
						var g = decodeURIComponent(a[f].href);

						e.href = g.replace('&amp;', "&");
					} else e.href = $("base").attr("href") + "index.php?route=product/product&product_id=" + a[f].product_id + "&keyword=" + b;
					d.appendChild(e), c.appendChild(eListImg), c.appendChild(d), c.appendChild(eListDivpr), "" != a[f].special && c.appendChild(eListDivprspec), c.appendChild(eListDivstatus), c.appendChild(eListHr), c.appendChild(eListDiv)
				}
				$("#livesearch_search_results").length > 0 && $("#livesearch_search_results").remove(), $("#search").append(c), $("#livesearch_search_results").css("display", "none"), $("#livesearch_search_results").slideDown("slow"), $("#livesearch_search_results").animate({
					backgroundColor: "rgba(255, 255, 255, 0.98)"
				}, 2e3)
			}
		}
	}), 0)))
}

function doLiveSearchMobile(ev, keywords) {
	if (ev.keyCode == 38 || ev.keyCode == 40) {
		return false;
	}

	$('#livesearch_search_results').remove();
	updown = -1;

	if (keywords == '' || keywords.length < 3) {
		return false;
	}
	keywords = encodeURI(keywords);

	$.ajax({
		url: $('base').attr('href') + 'index.php?route=product/search/ajax&keyword=' + keywords,
		dataType: 'json',
		success: function (result) {
			if (result.length > 0) {
				var eList = document.createElement('ul');
				eList.id = 'msearchresults';
				var eListElem;
				var eLink;
				for (var i in result) {
					eListElem = document.createElement('li');

					eListDiv = document.createElement('div');
					eListDiv.setAttribute("style", "height: 10px; clear: both;");

					eListDivpr = document.createElement("span");
					eListDivpr.innerHTML = result[i].price;
					eListDivpr.setAttribute("style", "height: 14px; color: #147927;");
					"" != result[i].special && eListDivpr.setAttribute("style", "text-decoration: line-through;");

					eListDivprspec = document.createElement("span");
					eListDivprspec.innerHTML = result[i].special;
					eListDivprspec.setAttribute("style", "font-weight: bold; margin-left: 8px; color: #a70d0d; font-size: 16px;");

					eListDivstatus = document.createElement("span");
					eListDivstatus.innerHTML = result[i].stock;
					eListDivstatus.setAttribute("style", "height: 14px; color: #337ab7; margin-left: 15px; font-weight: bold;");

					eListImg = document.createElement('img');
					eListImg.src = result[i].image;
					eListImg.setAttribute("style", "margin-right: 10px;");
					eListImg.align = 'left';

					eLink = document.createElement('a');
					eLink.setAttribute("style", "display: block;");
					eLink.appendChild(document.createTextNode(result[i].name));
					if (typeof (result[i].href) != 'undefined') {
						var convertlink = decodeURIComponent(result[i].href);
						eLink.href = convertlink.replace('&amp;', "&");

					} else {
						eLink.href = $('base').attr('href') + 'index.php?route=product/product&product_id=' + result[i].product_id + '&keyword=' + keywords;
					}
					eListElem.appendChild(eLink);
					eList.appendChild(eListImg);
					eList.appendChild(eListElem);
					eList.appendChild(eListDivpr);
					"" != result[i].special && eList.appendChild(eListDivprspec);
					eList.appendChild(eListDivstatus);
					eList.appendChild(eListDiv);
				}
				if ($('#msearchresults').length > 0) {
					$('#msearchresults').remove();
				}
				$('#searchm').append(eList);
			}
		}
	});

	return true;
}

function upDownEvent(a) {
	var b = document.getElementById("livesearch_search_results");
	if ($("#search").find("[name=search]").first(), b) {
		var c = b.childNodes.length - 1;
		if (updown != -1 && "undefined" != typeof b.childNodes[updown] && $(b.childNodes[updown]).removeClass("highlighted"), 38 == a.keyCode ? updown = updown > 0 ? --updown : updown : 40 == a.keyCode && (updown = updown < c ? ++updown : updown), updown >= 0 && updown <= c) {
			$(b.childNodes[updown]).addClass("highlighted");
			var d = b.childNodes[updown].childNodes[0].text;
			"undefined" == typeof d && (d = b.childNodes[updown].childNodes[0].innerText), $("#search").find("[name=search]").first().val(new String(d).replace(/(\s\(.*?\))$/, ""))
		}
	}
	return !1
}

function hidePanel() {
	$('#hide-slide-panel').fadeOut();
	$('#oct-slide-panel .oct-slide-panel-content').removeClass('oct-slide-panel-content-opened');
	$('#oct-bluring-box').removeClass('oct-bluring');
	$('.oct-slide-panel-item-content').removeClass('oct-panel-active');
	$('.oct-panel-link-active').removeClass('oct-panel-link-active');
	$('html').removeClass('noscroll');
}	
	
	
function getURLVar(key) {
	var value = [];

	var query = document.location.search.split('?');

	if (query[1]) {
		var part = query[1].split('&');

		for (i = 0; i < part.length; i++) {
			var data = part[i].split('=');

			if (data[0] && data[1]) {
				value[data[0]] = data[1];
			}
		}

		if (value[key]) {
			return value[key];
		} else {
			return '';
		}
	}
}

// Currency
$(document).on('click', '#form-currency .currency-select', function() {
	$('#form-currency input[name=\'code\']').val($(this).attr('name'));
	$('#form-currency').submit();
});

// Language
$(document).on('click', '#form-language .language-select', function() {
	$('#form-language input[name=\'code\']').val($(this).attr('name'));
	$('#form-language').submit();
});

$(document).ready(function() {
	
	var menuResp = viewport().width;

	var sheight = $(window).height();

	if (menuResp <= 992) {
		$("#menu-mobile-box").prepend( $( "#menu" ) );
	} else {
		$('ul.menu.flex').flexMenu();
		$("ul.flexMenu-popup").mouseleave(function() {
			$(".flexMenu-popup").css("display", "none");
		});
	}

	$('#menu-mobile-toggle').on('click', function() {
		$('#menu-mobile').slideToggle(50, "swing");
		$('html').toggleClass('noscroll');
		$('#oct-bluring-box').css("height",sheight);
	});

	$('.megamenu-toggle-a').on('click', function() {
		$(this).parent().toggleClass("open");
	});

	$(".parent-title-toggle").on("click", function(t) {
		$(this).toggleClass("opened"), $(this).next().toggleClass("megamenu-ischild-opened"), t.preventDefault(), t.stopPropagation()
	});

	$("#menu .navbar-header").on("click", function(t) {
		$(this).next().toggleClass("in"), t.preventDefault(), t.stopPropagation()
	});

	$("#back-top").hide(), $(function () {
		$(window).scroll(function () {
			$(this).scrollTop() > 450 ? $("#back-top").fadeIn() : $("#back-top").fadeOut()
		}), $("#back-top a").click(function () {
			return $("body,html").animate({
				scrollTop: 0
			}, 800), !1
		})
	});

	$("#search").find(".oct_live_search").first().keyup(function (a) {
		doLiveSearch(a, this.value)
	}).blur(function () {
		window.setTimeout("$('#livesearch_search_results').remove();updown=0;", 1500)
	}), $(document).bind("keydown", function (a) {
		try {
			13 == a.keyCode && $(".highlighted").length > 0 && (document.location.href = $(".highlighted").find("a").first().attr("href"))
		} catch (a) {}
	});

	$('.navbar-nav > li > .dropdown-toggle').click(function () {
		if ($(this).attr('href') === undefined) {
			//return false;
		} else {
			window.location = $(this).attr('href');
		}
	});

	$("#msrch").find(".oct_live_search").first().keyup(function (ev) {
		doLiveSearchMobile(ev, this.value);
	}).focus(function (ev) {
		doLiveSearchMobile(ev, this.value);
	}).keydown(function (ev) {
		upDownEvent(ev);
	}).blur(function () {});
	
	$(document).bind('keydown', function (ev) {
		try {
			if (ev.keyCode == 13 && $('.highlighted').length > 0) {
				document.location.href = $('.highlighted').find('a').first().attr('href');
			}
		} catch (e) {}
	});

	$('#oct-m-search-button').on('click', function () {
		srchurl = $('base').attr('href') + 'index.php?route=product/search';
		var input_value = $('input[name=\'search\']').val();
		if (input_value.length <= 0) {
			return false;
		}
		if (input_value) {
			srchurl += '&search=' + encodeURIComponent(input_value);
		}
		location = srchurl;
	});

	$("#oct-mobile-search-box input[name='search']").on("keydown", function (a) {
		if (13 == a.keyCode) {
			var b = $("input[name='search']").val();
			if (b.length <= 0) return !1;
			$("#oct-m-search-button").trigger("click");
		}
	});

	$("#oct-search-button").on("click", function () {
		srchurl = $("base").attr("href") + "index.php?route=product/search";
		var a = $("#search input[name='search']").val();
		if (a.length <= 0) return !1;
		a && (srchurl += "&search=" + encodeURIComponent(a));
		var b = $("input[name='category_id']").prop("value");
		b > 0 && (srchurl += "&sub_category=true&category_id=" + encodeURIComponent(b)), location = srchurl
	});

	$("#search input[name='search']").on("keydown", function (a) {
		if (13 == a.keyCode) {
			var b = $("input[name='search']").val();
			if (b.length <= 0) return !1;
			$("#oct-search-button").trigger("click");
		}
	});

	$("#search a").on('click', function () {
		$(".cats-button").html('<span class="category-name">' + $(this).html() + ' </span><i class="fa fa-caret-down" aria-hidden="true"></i>');
		$(".selected_oct_cat").val($(this).attr("id"));
	});


	$('#search .dropdown').on('click', function () {
		$(this).toggleClass('open-dropdown');
	});

	$("#search .dropdown").mouseleave(function () {
		$(this).removeClass('open-dropdown');
	});


	$('.thumbnails a').on('click', function (e) {
		$(".thumbnails a").removeClass("selected-thumb");
		$(this).addClass("selected-thumb");
	});

	//cat-menu
	$('#sstore-3-level li.active').addClass('open').children('ul').show();
	$('#sstore-3-level li.has-sub>a.toggle-a').on('click', function () {
		$(this).removeAttr('href');
		var element = $(this).parent('li');
		if (element.hasClass('open')) {
			element.removeClass('open');
			element.find('li').removeClass('open');
			element.find('ul').slideUp(200);
		} else {
			element.addClass('open');
			element.children('ul').slideDown(200);
			element.siblings('li').children('ul').slideUp(200);
			element.siblings('li').removeClass('open');
			element.siblings('li').find('li').removeClass('open');
			element.siblings('li').find('ul').slideUp(200);
		}
	});

	var url = document.location.toString();
	$("a").filter(function () {
		return url.indexOf(this.href) != -1;
	}).addClass("current-link");

	// bottom-slide-panel
	$('.oct-panel-link').on('click', function () {
		if ($(this).parent().hasClass('oct-panel-link-active')) {
			$(this).parent().removeClass('oct-panel-link-active');
			hidePanel();
		} else {
			$('#hide-slide-panel').fadeIn();
			$('html').addClass('noscroll');
			$("#oct-bluring-box").addClass('oct-bluring');
			$("#oct-slide-panel .oct-slide-panel-content").addClass('oct-slide-panel-content-opened');
			$('.oct-slide-panel-heading > .container > div').removeClass('oct-panel-link-active');
			$(this).parent().addClass('oct-panel-link-active');
			$('.oct-slide-panel-item-content').removeClass('oct-panel-active');
			var linkId = $(this).parent()[0].id;
			if (linkId === 'oct-last-seen-link') {
				$('#oct-last-seen-content').toggleClass('oct-panel-active').load('index.php?route=extension/module/oct_page_bar/block_viewed');
			} else if (linkId === 'oct-favorite-link') {
				$('#oct-favorite-content').toggleClass("oct-panel-active").load('index.php?route=extension/module/oct_page_bar/block_wishlist');
			} else if (linkId === 'oct-compare-link') {
				$('#oct-compare-content').toggleClass("oct-panel-active").load('index.php?route=extension/module/oct_page_bar/block_compare');
			} else if (linkId === 'oct-bottom-cart-link') {
				$('#oct-bottom-cart-content').toggleClass("oct-panel-active").load('index.php?route=extension/module/oct_page_bar/block_cart');
			}
		}
	});

	$('#oct-bluring-box, #hide-slide-panel').click(function () {
		hidePanel();
	});

	$('#info-mobile-toggle').on('click', function () {
		$('#info-mobile').slideToggle(50, "swing");
		$('html').toggleClass('noscroll');
	});
	$('#search-mobile-toggle').on('click', function () {
		$('.oct-m-search').slideToggle(50, "swing");
		$('html').toggleClass('noscroll');
	});

	$('#oct-menu-box').css('overflow', 'visible');

	var sheight = $(window).height();

	var sulheight = $(window).height() - 58;
	var m4 = viewport().width;
	var $fclone = $('.footer-contacts-ul').clone();

	$(".closempanel").click(function () {
		$(".m-panel-box").fadeOut("fast");
		$('#oct-bluring-box').removeAttr("style");
		$('html').removeClass('noscroll');
		$('#menu .parent-title-toggle.opened').removeClass("opened");
		$('#menu .megamenu-ischild.megamenu-ischild-opened').removeClass("megamenu-ischild-opened");
	});

	if (m4 <= 992) {
		$('#m-wishlist').append($('#oct-favorite-quantity'));
		$('#m-compare').append($('#oct-compare-quantity'));
		$('#m-cart').append($('#oct-bottom-cart-quantity'));
		$('.product-thumb').bind('touchmove', true);
		$(".product-buttons-box a").removeAttr("data-toggle");
		$('#info-mobile-box').html($fclone);
		$('#info-mobile ul').prepend($('.top-left-info-links li'));
		$('#oct-mobile-search-box, #menu-mobile-box, #info-mobile-box').css("height", sulheight);
		$('#info-mobile .footer-contacts-ul').prepend($('#language'));
		$('#info-mobile .footer-contacts-ul').prepend($('#currency'));
	} else {
		$('ul.menu.flex').flexMenu();
	}

	if (m4 < 768) {
		$('.content-row .left-info').prepend($('.product-header'));
		$('#content').prepend($('.oct-news-panel'));

		$('footer .third-row .h5').on('click', function () {
			$(this).next().slideToggle();
			$(this).toggleClass('open');
		});
	}

	$(window).on('resize', function () {
		var win = $(this);
		if (win.width() <= 992) {
			$('#m-wishlist').append($('#oct-favorite-quantity'));
			$('#m-compare').append($('#oct-compare-quantity'));
			$('#m-cart').append($('#oct-bottom-cart-quantity'));
			$('#info-mobile-box').html($fclone);
			$('#info-mobile ul').append($('.top-left-info-links li.apppli'));
			$('#info-mobile .footer-contacts-ul').prepend($('#language'));
			$('#info-mobile .footer-contacts-ul').prepend($('#currency'));
			$("#menu-mobile-box").prepend($("#menu"));
			var sulheight = $(window).height() - 58;
			$('#oct-mobile-search-box, #menu-mobile-box, #info-mobile-box').css("height", sulheight);
		} else {
			$('#oct-favorite-link .oct-panel-link').append($('#oct-favorite-quantity'));
			$('#oct-compare-link .oct-panel-link').append($('#oct-compare-quantity'));
			$('#oct-bottom-cart-link .oct-panel-link').append($('#oct-bottom-cart-quantity'));
			$('#top-left-links ul').append($('#info-mobile ul li.apppli'));
			$('.language-currency').prepend($('#currency'));
			$('.language-currency').prepend($('#language'));
			$("#oct-menu-box").prepend($("#menu"));
			$('ul.menu.flex').flexMenu();
			var sulheight = $(window).height() - 58;
			$('#oct-mobile-search-box, #menu-mobile-box, #info-mobile-box').css("height", sulheight);
		}

		if (win.width() < 768) {
			$('.content-row .left-info').prepend($('.product-header'));
		} else {
			$('#product-info-right').prepend($('.product-header'));
		}
	});

	
	// Highlight any found errors
	$('.text-danger').each(function() {
		var element = $(this).parent().parent();

		if (element.hasClass('form-group')) {
			element.addClass('has-error');
		}
	});

	/* Search */
	$('#search input[name=\'search\']').parent().find('button').on('click', function() {
		var url = $('base').attr('href') + 'index.php?route=product/search';

		var value = $('header #search input[name=\'search\']').val();

		var srchcat = $("header input[name='category_id']").prop("value");

		if(srchcat > 0 ) {
			url += "&category_id=" + encodeURIComponent(srchcat) + "&sub_category=true";
		}

		if (value > 0) {
			url += '&search=' + encodeURIComponent(value);
			location = url;
		}


	});

	$('#search input[name=\'search\']').on('keydown', function(e) {
		if (e.keyCode == 13) {
			$('header #search input[name=\'search\']').parent().find('button').trigger('click');
		}
	});


	// Product List
	$('#list-view').click(function() {
		$('#content .product-grid > .clearfix').remove();
		$('#content .product-table').hide();
		$('#content .row .product-layout').show();
		$('#content .row > .product-grid').attr('class', 'product-layout product-list col-xs-6');

		$('#price-view').removeClass('active');
		$('#grid-view').removeClass('active');
		$('#list-view').addClass('active');

		localStorage.setItem('display', 'list');
	});

	// Product Price
	$('#price-view').click(function() {
		$('#content .product-table').show();

		$('#content .row .product-layout').hide();

		$('#list-view').removeClass('active');
		$('#grid-view').removeClass('active');
		$('#price-view').addClass('active');

		localStorage.setItem('display', 'price');
	});

	// Product Grid
	$('#grid-view').click(function() {
		// What a shame bootstrap does not take into account dynamically loaded columns
		var cols = $('#column-right, #column-left').length;

		$('#content .product-table').hide();
		$('#content .row .product-layout').show();

		if (cols == 2) {
			$('#content .product-list').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-6');
		} else if (cols == 1) {
			$('#content .product-list').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-6');
		} else {
			$('#content .product-list').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-6');
		}

		$('#price-view').removeClass('active');
		$('#list-view').removeClass('active');
		$('#grid-view').addClass('active');

		localStorage.setItem('display', 'grid');
	});

	if (localStorage.getItem('display') == 'list') {
		$('#list-view').trigger('click');
		$('#list-view').addClass('active');
	} else if (localStorage.getItem('display') == 'price') {
		$('#price-view').trigger('click');
		$('#price-view').addClass('active');
	} else {
		$('#grid-view').trigger('click');
		$('#grid-view').addClass('active');
	}

	// Checkout
	$(document).on('keydown', '#collapse-checkout-option input[name=\'email\'], #collapse-checkout-option input[name=\'password\']', function(e) {
		if (e.keyCode == 13) {
			$('#collapse-checkout-option #button-login').trigger('click');
		}
	});

	// tooltips on hover
	$('[data-toggle=\'tooltip\']').tooltipster({theme: 'tooltipster-shadow',
		trigger: 'custom',
		animation: 'fade',
		delay: 40,
		triggerOpen: {
			mouseenter: true,
			touchstart: true
		},
		triggerClose: {
			click: true,
			scroll: true,
			tap: true,
			mouseleave: true
		}
	});

	// Makes tooltips work on ajax generated content
	$(document).ajaxStop(function() {
			$('[data-toggle=\'tooltip\']').tooltipster({theme: 'tooltipster-shadow',
			trigger: 'custom',
			animation: 'fade',
			delay: 40,
			triggerOpen: {
				mouseenter: true,
				touchstart: true
			},
			triggerClose: {
				click: true,
				scroll: true,
				tap: true,
				mouseleave: true
			}
		});
	});
});

// Cart add remove functions
var cart = {
	'add': function(product_id, quantity) {
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: 'product_id=' + product_id + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1),
			dataType: 'json',
			beforeSend: function() {
				$('#cart > button').button('loading');
			},
			complete: function() {
				$('#cart > button').button('reset');
			},
			success: function(json) {
				$('.alert, .text-danger').remove();

				if (json['redirect']) {
					location = json['redirect'];
				}

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					// Need to set timeout otherwise it wont update the total
					setTimeout(function () {
						$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
					}, 100);

					$('html, body').animate({ scrollTop: 0 }, 'slow');

					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	},
	'update': function(key, quantity) {
		$.ajax({
			url: 'index.php?route=checkout/cart/edit',
			type: 'post',
			data: 'key=' + key + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1),
			dataType: 'json',
			beforeSend: function() {
				$('#cart > button').button('loading');
			},
			complete: function() {
				$('#cart > button').button('reset');
			},
			success: function(json) {
				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
				}, 100);

				if (getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') {
					location = 'index.php?route=checkout/cart';
				} else {
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	},
	'remove': function(key) {
		$.ajax({
			url: 'index.php?route=checkout/cart/remove',
			type: 'post',
			data: 'key=' + key,
			dataType: 'json',
			beforeSend: function() {
				$('#cart > button').button('loading');
			},
			complete: function() {
				$('#cart > button').button('reset');
			},
			success: function(json) {
				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#cart-total').html(json['total']);
				}, 100);

				var now_location = String(document.location.pathname);

				if ((now_location == '/cart/') || (now_location == '/checkout/') || (getURLVar('route') == 'checkout/cart') || (getURLVar('route') == 'checkout/checkout')) {
					location = 'index.php?route=checkout/cart';
				} else {
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
}

var voucher = {
	'add': function() {
		
	},
	'remove': function(key) {
		$.ajax({
			url: 'index.php?route=checkout/cart/remove',
			type: 'post',
			data: 'key=' + key,
			dataType: 'json',
			beforeSend: function() {
				$('#cart > button').button('loading');
			},
			complete: function() {
				$('#cart > button').button('reset');
			},
			success: function(json) {
				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
				}, 100);

				if (getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') {
					location = 'index.php?route=checkout/cart';
				} else {
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
}

var wishlist = {
	'add': function(product_id) {
		$.ajax({
			url: 'index.php?route=account/wishlist/add',
			type: 'post',
			data: 'product_id=' + product_id,
			dataType: 'json',
			success: function(json) {
				$('.alert').remove();

				if (json['redirect']) {
					location = json['redirect'];
				}

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				$('#wishlist-total span').html(json['total']);
				$('#wishlist-total').attr('title', json['total']);

				$('html, body').animate({ scrollTop: 0 }, 'slow');
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	},
	'remove': function() {

	}
}

var compare = {
	'add': function(product_id) {
		$.ajax({
			url: 'index.php?route=product/compare/add',
			type: 'post',
			data: 'product_id=' + product_id,
			dataType: 'json',
			success: function(json) {
				$('.alert').remove();

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#compare-total').html(json['total']);

					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	},
	'remove': function() {

	}
}

/* Agree to Terms */
$(document).delegate('.agree', 'click', function(e) {
	e.preventDefault();

	$('#modal-agree').remove();

	var element = this;

	$.ajax({
		url: $(element).attr('href'),
		type: 'get',
		dataType: 'html',
		success: function(data) {
			html  = '<div id="modal-agree" class="modal">';
			html += '  <div class="modal-dialog">';
			html += '    <div class="modal-content">';
			html += '      <div class="modal-header">';
			html += '        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>';
			html += '        <h4 class="modal-title">' + $(element).text() + '</h4>';
			html += '      </div>';
			html += '      <div class="modal-body">' + data + '</div>';
			html += '    </div';
			html += '  </div>';
			html += '</div>';

			$('body').append(html);

			$('#modal-agree').modal('show');
		}
	});
});

// Autocomplete */
(function($) {
	$.fn.autocomplete = function(option) {
		return this.each(function() {
			this.timer = null;
			this.items = new Array();

			$.extend(this, option);

			$(this).attr('autocomplete', 'off');

			// Focus
			$(this).on('focus', function() {
				this.request();
			});

			// Blur
			$(this).on('blur', function() {
				setTimeout(function(object) {
					object.hide();
				}, 200, this);
			});

			// Keydown
			$(this).on('keydown', function(event) {
				switch(event.keyCode) {
					case 27: // escape
						this.hide();
						break;
					default:
						this.request();
						break;
				}
			});

			// Click
			this.click = function(event) {
				event.preventDefault();

				value = $(event.target).parent().attr('data-value');

				if (value && this.items[value]) {
					this.select(this.items[value]);
				}
			}

			// Show
			this.show = function() {
				var pos = $(this).position();

				$(this).siblings('ul.dropdown-menu').css({
					top: pos.top + $(this).outerHeight(),
					left: pos.left
				});

				$(this).siblings('ul.dropdown-menu').show();
			}

			// Hide
			this.hide = function() {
				$(this).siblings('ul.dropdown-menu').hide();
			}

			// Request
			this.request = function() {
				clearTimeout(this.timer);

				this.timer = setTimeout(function(object) {
					object.source($(object).val(), $.proxy(object.response, object));
				}, 200, this);
			}

			// Response
			this.response = function(json) {
				html = '';

				if (json.length) {
					for (i = 0; i < json.length; i++) {
						this.items[json[i]['value']] = json[i];
					}

					for (i = 0; i < json.length; i++) {
						if (!json[i]['category']) {
							html += '<li data-value="' + json[i]['value'] + '"><a href="#">' + json[i]['label'] + '</a></li>';
						}
					}

					// Get all the ones with a categories
					var category = new Array();

					for (i = 0; i < json.length; i++) {
						if (json[i]['category']) {
							if (!category[json[i]['category']]) {
								category[json[i]['category']] = new Array();
								category[json[i]['category']]['name'] = json[i]['category'];
								category[json[i]['category']]['item'] = new Array();
							}

							category[json[i]['category']]['item'].push(json[i]);
						}
					}

					for (i in category) {
						html += '<li class="dropdown-header">' + category[i]['name'] + '</li>';

						for (j = 0; j < category[i]['item'].length; j++) {
							html += '<li data-value="' + category[i]['item'][j]['value'] + '"><a href="#">&nbsp;&nbsp;&nbsp;' + category[i]['item'][j]['label'] + '</a></li>';
						}
					}
				}

				if (html) {
					this.show();
				} else {
					this.hide();
				}

				$(this).siblings('ul.dropdown-menu').html(html);
			}

			$(this).after('<ul class="dropdown-menu"></ul>');
			$(this).siblings('ul.dropdown-menu').delegate('a', 'click', $.proxy(this.click, this));

		});
	}
})(window.jQuery);

var FlipClock,Base=function(){};Base.extend=function(t,i){"use strict";var e=Base.prototype.extend;Base._prototyping=!0;var s=new this;e.call(s,t),s.base=function(){},delete Base._prototyping;var n=s.constructor,o=s.constructor=function(){if(!Base._prototyping)if(this._constructing||this.constructor==o)this._constructing=!0,n.apply(this,arguments),delete this._constructing;else if(null!==arguments[0])return(arguments[0].extend||e).call(arguments[0],s)};return o.ancestor=this,o.extend=this.extend,o.forEach=this.forEach,o.implement=this.implement,o.prototype=s,o.toString=this.toString,o.valueOf=function(t){return"object"==t?o:n.valueOf()},e.call(o,i),"function"==typeof o.init&&o.init(),o},Base.prototype={extend:function(t,i){if(arguments.length>1){var e=this[t];if(e&&"function"==typeof i&&(!e.valueOf||e.valueOf()!=i.valueOf())&&/\bbase\b/.test(i)){var s=i.valueOf();(i=function(){var t=this.base||Base.prototype.base;this.base=e;var i=s.apply(this,arguments);return this.base=t,i}).valueOf=function(t){return"object"==t?i:s},i.toString=Base.toString}this[t]=i}else if(t){var n=Base.prototype.extend;Base._prototyping||"function"==typeof this||(n=this.extend||n);for(var o={toSource:null},a=["constructor","toString","valueOf"],c=Base._prototyping?0:1;r=a[c++];)t[r]!=o[r]&&n.call(this,r,t[r]);for(var r in t)o[r]||n.call(this,r,t[r])}return this}},Base=Base.extend({constructor:function(){this.extend(arguments[0])}},{ancestor:Object,version:"1.1",forEach:function(t,i,e){for(var s in t)void 0===this.prototype[s]&&i.call(e,t[s],s,t)},implement:function(){for(var t=0;t<arguments.length;t++)"function"==typeof arguments[t]?arguments[t](this.prototype):this.prototype.extend(arguments[t]);return this},toString:function(){return String(this.valueOf())}}),function(t){"use strict";(FlipClock=function(t,i,e){return i instanceof Object&&i instanceof Date==0&&(e=i,i=0),new FlipClock.Factory(t,i,e)}).Lang={},FlipClock.Base=Base.extend({buildDate:"2014-12-12",version:"0.7.7",constructor:function(i,e){"object"!=typeof i&&(i={}),"object"!=typeof e&&(e={}),this.setOptions(t.extend(!0,{},i,e))},callback:function(t){if("function"==typeof t){for(var i=[],e=1;e<=arguments.length;e++)arguments[e]&&i.push(arguments[e]);t.apply(this,i)}},log:function(t){window.console&&console.log&&console.log(t)},getOption:function(t){return!!this[t]&&this[t]},getOptions:function(){return this},setOption:function(t,i){this[t]=i},setOptions:function(t){for(var i in t)void 0!==t[i]&&this.setOption(i,t[i])}})}(jQuery),function(t){"use strict";FlipClock.Face=FlipClock.Base.extend({autoStart:!0,dividers:[],factory:!1,lists:[],constructor:function(t,i){this.dividers=[],this.lists=[],this.base(i),this.factory=t},build:function(){this.autoStart&&this.start()},createDivider:function(i,e,s){"boolean"!=typeof e&&e||(s=e,e=i);var n=['<span class="'+this.factory.classes.dot+' top"></span>','<span class="'+this.factory.classes.dot+' bottom"></span>'].join("");s&&(n=""),i=this.factory.localize(i);var o=['<span class="'+this.factory.classes.divider+" "+(e||"").toLowerCase()+'">','<span class="'+this.factory.classes.label+'">'+(i||"")+"</span>",n,"</span>"],a=t(o.join(""));return this.dividers.push(a),a},createList:function(t,i){"object"==typeof t&&(i=t,t=0);var e=new FlipClock.List(this.factory,t,i);return this.lists.push(e),e},reset:function(){this.factory.time=new FlipClock.Time(this.factory,this.factory.original?Math.round(this.factory.original):0,{minimumDigits:this.factory.minimumDigits}),this.flip(this.factory.original,!1)},appendDigitToClock:function(t){t.$el.append(!1)},addDigit:function(t){var i=this.createList(t,{classes:{active:this.factory.classes.active,before:this.factory.classes.before,flip:this.factory.classes.flip}});this.appendDigitToClock(i)},start:function(){},stop:function(){},autoIncrement:function(){this.factory.countdown?this.decrement():this.increment()},increment:function(){this.factory.time.addSecond()},decrement:function(){0==this.factory.time.getTimeSeconds()?this.factory.stop():this.factory.time.subSecond()},flip:function(i,e){var s=this;t.each(i,function(t,i){var n=s.lists[t];n?(e||i==n.digit||n.play(),n.select(i)):s.addDigit(i)})}})}(jQuery),function(t){"use strict";FlipClock.Factory=FlipClock.Base.extend({animationRate:1e3,autoStart:!0,callbacks:{destroy:!1,create:!1,init:!1,interval:!1,start:!1,stop:!1,reset:!1},classes:{active:"flip-clock-active",before:"flip-clock-before",divider:"flip-clock-divider",dot:"flip-clock-dot",label:"flip-clock-label",flip:"flip",play:"play",wrapper:"flip-clock-wrapper"},clockFace:"HourlyCounter",countdown:!1,defaultClockFace:"HourlyCounter",defaultLanguage:"english",$el:!1,face:!0,lang:!1,language:"english",minimumDigits:0,original:!1,running:!1,time:!1,timer:!1,$wrapper:!1,constructor:function(i,e,s){s||(s={}),this.lists=[],this.running=!1,this.base(s),this.$el=t(i).addClass(this.classes.wrapper),this.$wrapper=this.$el,this.original=e instanceof Date?e:e?Math.round(e):0,this.time=new FlipClock.Time(this,this.original,{minimumDigits:this.minimumDigits,animationRate:this.animationRate}),this.timer=new FlipClock.Timer(this,s),this.loadLanguage(this.language),this.loadClockFace(this.clockFace,s),this.autoStart&&this.start()},loadClockFace:function(t,i){var e,s=!1;return t=t.ucfirst()+"Face",this.face.stop&&(this.stop(),s=!0),this.$el.html(""),this.time.minimumDigits=this.minimumDigits,(e=FlipClock[t]?new FlipClock[t](this,i):new FlipClock[this.defaultClockFace+"Face"](this,i)).build(),this.face=e,s&&this.start(),this.face},loadLanguage:function(t){var i;return i=FlipClock.Lang[t.ucfirst()]?FlipClock.Lang[t.ucfirst()]:FlipClock.Lang[t]?FlipClock.Lang[t]:FlipClock.Lang[this.defaultLanguage],this.lang=i},localize:function(t,i){var e=this.lang;if(!t)return null;var s=t.toLowerCase();return"object"==typeof i&&(e=i),e&&e[s]?e[s]:t},start:function(t){var i=this;i.running||i.countdown&&!(i.countdown&&i.time.time>0)?i.log("Trying to start timer when countdown already at 0"):(i.face.start(i.time),i.timer.start(function(){i.flip(),"function"==typeof t&&t()}))},stop:function(t){for(var i in this.face.stop(),this.timer.stop(t),this.lists)this.lists.hasOwnProperty(i)&&this.lists[i].stop()},reset:function(t){this.timer.reset(t),this.face.reset()},setTime:function(t){this.time.time=t,this.flip(!0)},getTime:function(t){return this.time},setCountdown:function(t){var i=this.running;this.countdown=!!t,i&&(this.stop(),this.start())},flip:function(t){this.face.flip(!1,t)}})}(jQuery),function(t){"use strict";FlipClock.List=FlipClock.Base.extend({digit:0,classes:{active:"flip-clock-active",before:"flip-clock-before",flip:"flip"},factory:!1,$el:!1,$obj:!1,items:[],lastDigit:0,constructor:function(t,i,e){this.factory=t,this.digit=i,this.lastDigit=i,this.$el=this.createList(),this.$obj=this.$el,i>0&&this.select(i),this.factory.$el.append(this.$el)},select:function(t){if(void 0===t?t=this.digit:this.digit=t,this.digit!=this.lastDigit){var i=this.$el.find("."+this.classes.before).removeClass(this.classes.before);this.$el.find("."+this.classes.active).removeClass(this.classes.active).addClass(this.classes.before),this.appendListItem(this.classes.active,this.digit),i.remove(),this.lastDigit=this.digit}},play:function(){this.$el.addClass(this.factory.classes.play)},stop:function(){var t=this;setTimeout(function(){t.$el.removeClass(t.factory.classes.play)},this.factory.timer.interval)},createListItem:function(t,i){return['<li class="'+(t||"")+'">','<a href="javascript:void(0);">','<div class="up">','<div class="shadow"></div>','<div class="inn">'+(i||"")+"</div>","</div>",'<div class="down">','<div class="shadow"></div>','<div class="inn">'+(i||"")+"</div>","</div>","</a>","</li>"].join("")},appendListItem:function(t,i){var e=this.createListItem(t,i);this.$el.append(e)},createList:function(){var i=this.getPrevDigit()?this.getPrevDigit():this.digit;return t(['<ul class="'+this.classes.flip+" "+(this.factory.running?this.factory.classes.play:"")+'">',this.createListItem(this.classes.before,i),this.createListItem(this.classes.active,this.digit),"</ul>"].join(""))},getNextDigit:function(){return 9==this.digit?0:this.digit+1},getPrevDigit:function(){return 0==this.digit?9:this.digit-1}})}(jQuery),function(t){"use strict";String.prototype.ucfirst=function(){return this.substr(0,1).toUpperCase()+this.substr(1)},t.fn.FlipClock=function(i,e){return new FlipClock(t(this),i,e)},t.fn.flipClock=function(i,e){return t.fn.FlipClock(i,e)}}(jQuery),function(t){"use strict";FlipClock.Time=FlipClock.Base.extend({time:0,factory:!1,minimumDigits:0,constructor:function(t,i,e){"object"!=typeof e&&(e={}),e.minimumDigits||(e.minimumDigits=t.minimumDigits),this.base(e),this.factory=t,i&&(this.time=i)},convertDigitsToArray:function(t){var i=[];t=t.toString();for(var e=0;e<t.length;e++)t[e].match(/^\d*$/g)&&i.push(t[e]);return i},digit:function(t){var i=this.toString(),e=i.length;return!!i[e-t]&&i[e-t]},digitize:function(i){var e=[];if(t.each(i,function(t,i){1==(i=i.toString()).length&&(i="0"+i);for(var s=0;s<i.length;s++)e.push(i.charAt(s))}),e.length>this.minimumDigits&&(this.minimumDigits=e.length),this.minimumDigits>e.length)for(var s=e.length;s<this.minimumDigits;s++)e.unshift("0");return e},getDateObject:function(){return this.time instanceof Date?this.time:new Date((new Date).getTime()+1e3*this.getTimeSeconds())},getDayCounter:function(t){var i=[this.getDays(),this.getHours(!0),this.getMinutes(!0)];return t&&i.push(this.getSeconds(!0)),this.digitize(i)},getDays:function(t){var i=this.getTimeSeconds()/60/60/24;return t&&(i%=7),Math.floor(i)},getHourCounter:function(){return this.digitize([this.getHours(),this.getMinutes(!0),this.getSeconds(!0)])},getHourly:function(){return this.getHourCounter()},getHours:function(t){var i=this.getTimeSeconds()/60/60;return t&&(i%=24),Math.floor(i)},getMilitaryTime:function(t,i){void 0===i&&(i=!0),t||(t=this.getDateObject());var e=[t.getHours(),t.getMinutes()];return!0===i&&e.push(t.getSeconds()),this.digitize(e)},getMinutes:function(t){var i=this.getTimeSeconds()/60;return t&&(i%=60),Math.floor(i)},getMinuteCounter:function(){return this.digitize([this.getMinutes(),this.getSeconds(!0)])},getTimeSeconds:function(t){return t||(t=new Date),this.time instanceof Date?this.factory.countdown?Math.max(this.time.getTime()/1e3-t.getTime()/1e3,0):t.getTime()/1e3-this.time.getTime()/1e3:this.time},getTime:function(t,i){void 0===i&&(i=!0),t||(t=this.getDateObject()),console.log(t);var e=t.getHours(),s=[e>12?e-12:0===e?12:e,t.getMinutes()];return!0===i&&s.push(t.getSeconds()),this.digitize(s)},getSeconds:function(t){var i=this.getTimeSeconds();return t&&(60==i?i=0:i%=60),Math.ceil(i)},getWeeks:function(t){var i=this.getTimeSeconds()/60/60/24/7;return t&&(i%=52),Math.floor(i)},removeLeadingZeros:function(i,e){var s=0,n=[];return t.each(e,function(t,o){t<i?s+=parseInt(e[t],10):n.push(e[t])}),0===s?n:e},addSeconds:function(t){this.time instanceof Date?this.time.setSeconds(this.time.getSeconds()+t):this.time+=t},addSecond:function(){this.addSeconds(1)},subSeconds:function(t){this.time instanceof Date?this.time.setSeconds(this.time.getSeconds()-t):this.time-=t},subSecond:function(){this.subSeconds(1)},toString:function(){return this.getTimeSeconds().toString()}})}(jQuery),function(t){"use strict";FlipClock.Timer=FlipClock.Base.extend({callbacks:{destroy:!1,create:!1,init:!1,interval:!1,start:!1,stop:!1,reset:!1},count:0,factory:!1,interval:1e3,animationRate:1e3,constructor:function(t,i){this.base(i),this.factory=t,this.callback(this.callbacks.init),this.callback(this.callbacks.create)},getElapsed:function(){return this.count*this.interval},getElapsedTime:function(){return new Date(this.time+this.getElapsed())},reset:function(t){clearInterval(this.timer),this.count=0,this._setInterval(t),this.callback(this.callbacks.reset)},start:function(t){this.factory.running=!0,this._createTimer(t),this.callback(this.callbacks.start)},stop:function(t){this.factory.running=!1,this._clearInterval(t),this.callback(this.callbacks.stop),this.callback(t)},_clearInterval:function(){clearInterval(this.timer)},_createTimer:function(t){this._setInterval(t)},_destroyTimer:function(t){this._clearInterval(),this.timer=!1,this.callback(t),this.callback(this.callbacks.destroy)},_interval:function(t){this.callback(this.callbacks.interval),this.callback(t),this.count++},_setInterval:function(t){var i=this;i._interval(t),i.timer=setInterval(function(){i._interval(t)},this.interval)}})}(jQuery),function(t){FlipClock.TwentyFourHourClockFace=FlipClock.Face.extend({constructor:function(t,i){this.base(t,i)},build:function(i){var e=this,s=this.factory.$el.find("ul");this.factory.time.time||(this.factory.original=new Date,this.factory.time=new FlipClock.Time(this.factory,this.factory.original)),(i=i||this.factory.time.getMilitaryTime(!1,this.showSeconds)).length>s.length&&t.each(i,function(t,i){e.createList(i)}),this.createDivider(),this.createDivider(),t(this.dividers[0]).insertBefore(this.lists[this.lists.length-2].$el),t(this.dividers[1]).insertBefore(this.lists[this.lists.length-4].$el),this.base()},flip:function(t,i){this.autoIncrement(),t=t||this.factory.time.getMilitaryTime(!1,this.showSeconds),this.base(t,i)}})}(jQuery),function(t){FlipClock.CounterFace=FlipClock.Face.extend({shouldAutoIncrement:!1,constructor:function(t,i){"object"!=typeof i&&(i={}),t.autoStart=!!i.autoStart,i.autoStart&&(this.shouldAutoIncrement=!0),t.increment=function(){t.countdown=!1,t.setTime(t.getTime().getTimeSeconds()+1)},t.decrement=function(){t.countdown=!0;var i=t.getTime().getTimeSeconds();i>0&&t.setTime(i-1)},t.setValue=function(i){t.setTime(i)},t.setCounter=function(i){t.setTime(i)},this.base(t,i)},build:function(){var i=this,e=this.factory.$el.find("ul"),s=this.factory.getTime().digitize([this.factory.getTime().time]);s.length>e.length&&t.each(s,function(t,e){i.createList(e).select(e)}),t.each(this.lists,function(t,i){i.play()}),this.base()},flip:function(t,i){this.shouldAutoIncrement&&this.autoIncrement(),t||(t=this.factory.getTime().digitize([this.factory.getTime().time])),this.base(t,i)},reset:function(){this.factory.time=new FlipClock.Time(this.factory,this.factory.original?Math.round(this.factory.original):0),this.flip()}})}(jQuery),function(t){FlipClock.DailyCounterFace=FlipClock.Face.extend({showSeconds:!0,constructor:function(t,i){this.base(t,i)},build:function(i){var e=this,s=this.factory.$el.find("ul"),n=0;(i=i||this.factory.time.getDayCounter(this.showSeconds)).length>s.length&&t.each(i,function(t,i){e.createList(i)}),this.showSeconds?t(this.createDivider("Seconds")).insertBefore(this.lists[this.lists.length-2].$el):n=2,t(this.createDivider("Minutes")).insertBefore(this.lists[this.lists.length-4+n].$el),t(this.createDivider("Hours")).insertBefore(this.lists[this.lists.length-6+n].$el),t(this.createDivider("Days",!0)).insertBefore(this.lists[0].$el),this.base()},flip:function(t,i){t||(t=this.factory.time.getDayCounter(this.showSeconds)),this.autoIncrement(),this.base(t,i)}})}(jQuery),function(t){FlipClock.HourlyCounterFace=FlipClock.Face.extend({constructor:function(t,i){this.base(t,i)},build:function(i,e){var s=this,n=this.factory.$el.find("ul");(e=e||this.factory.time.getHourCounter()).length>n.length&&t.each(e,function(t,i){s.createList(i)}),t(this.createDivider("Seconds")).insertBefore(this.lists[this.lists.length-2].$el),t(this.createDivider("Minutes")).insertBefore(this.lists[this.lists.length-4].$el),i||t(this.createDivider("Hours",!0)).insertBefore(this.lists[0].$el),this.base()},flip:function(t,i){t||(t=this.factory.time.getHourCounter()),this.autoIncrement(),this.base(t,i)},appendDigitToClock:function(t){this.base(t),this.dividers[0].insertAfter(this.dividers[0].next())}})}(jQuery),jQuery,FlipClock.MinuteCounterFace=FlipClock.HourlyCounterFace.extend({clearExcessDigits:!1,constructor:function(t,i){this.base(t,i)},build:function(){this.base(!0,this.factory.time.getMinuteCounter())},flip:function(t,i){t||(t=this.factory.time.getMinuteCounter()),this.base(t,i)}}),function(t){FlipClock.TwelveHourClockFace=FlipClock.TwentyFourHourClockFace.extend({meridium:!1,meridiumText:"AM",build:function(){var i=this.factory.time.getTime(!1,this.showSeconds);this.base(i),this.meridiumText=this.getMeridium(),this.meridium=t(['<ul class="flip-clock-meridium">',"<li>",'<a href="javascript:void(0);">'+this.meridiumText+"</a>","</li>","</ul>"].join("")),this.meridium.insertAfter(this.lists[this.lists.length-1].$el)},flip:function(t,i){this.meridiumText!=this.getMeridium()&&(this.meridiumText=this.getMeridium(),this.meridium.find("a").html(this.meridiumText)),this.base(this.factory.time.getTime(!1,this.showSeconds),i)},getMeridium:function(){return(new Date).getHours()>=12?"PM":"AM"},isPM:function(){return"PM"==this.getMeridium()},isAM:function(){return"AM"==this.getMeridium()}})}(jQuery),jQuery,FlipClock.Lang.Arabic={years:"سنوات",months:"شهور",days:"أيام",hours:"ساعات",minutes:"دقائق",seconds:"ثواني"},FlipClock.Lang.ar=FlipClock.Lang.Arabic,FlipClock.Lang["ar-ar"]=FlipClock.Lang.Arabic,FlipClock.Lang.arabic=FlipClock.Lang.Arabic,jQuery,FlipClock.Lang.Danish={years:"År",months:"Måneder",days:"Dage",hours:"Timer",minutes:"Minutter",seconds:"Sekunder"},FlipClock.Lang.da=FlipClock.Lang.Danish,FlipClock.Lang["da-dk"]=FlipClock.Lang.Danish,FlipClock.Lang.danish=FlipClock.Lang.Danish,jQuery,FlipClock.Lang.German={years:"Jahre",months:"Monate",days:"Tage",hours:"Stunden",minutes:"Minuten",seconds:"Sekunden"},FlipClock.Lang.de=FlipClock.Lang.German,FlipClock.Lang["de-de"]=FlipClock.Lang.German,FlipClock.Lang.german=FlipClock.Lang.German,jQuery,FlipClock.Lang.English={years:"Years",months:"Months",days:"Days",hours:"Hours",minutes:"Minutes",seconds:"Seconds"},FlipClock.Lang.en=FlipClock.Lang.English,FlipClock.Lang["en-us"]=FlipClock.Lang.English,FlipClock.Lang.english=FlipClock.Lang.English,jQuery,FlipClock.Lang.Spanish={years:"Años",months:"Meses",days:"Días",hours:"Horas",minutes:"Minutos",seconds:"Segundos"},FlipClock.Lang.es=FlipClock.Lang.Spanish,FlipClock.Lang["es-es"]=FlipClock.Lang.Spanish,FlipClock.Lang.spanish=FlipClock.Lang.Spanish,jQuery,FlipClock.Lang.Finnish={years:"Vuotta",months:"Kuukautta",days:"Päivää",hours:"Tuntia",minutes:"Minuuttia",seconds:"Sekuntia"},FlipClock.Lang.fi=FlipClock.Lang.Finnish,FlipClock.Lang["fi-fi"]=FlipClock.Lang.Finnish,FlipClock.Lang.finnish=FlipClock.Lang.Finnish,jQuery,FlipClock.Lang.French={years:"Ans",months:"Mois",days:"Jours",hours:"Heures",minutes:"Minutes",seconds:"Secondes"},FlipClock.Lang.fr=FlipClock.Lang.French,FlipClock.Lang["fr-ca"]=FlipClock.Lang.French,FlipClock.Lang.french=FlipClock.Lang.French,jQuery,FlipClock.Lang.Italian={years:"Anni",months:"Mesi",days:"Giorni",hours:"Ore",minutes:"Minuti",seconds:"Secondi"},FlipClock.Lang.it=FlipClock.Lang.Italian,FlipClock.Lang["it-it"]=FlipClock.Lang.Italian,FlipClock.Lang.italian=FlipClock.Lang.Italian,jQuery,FlipClock.Lang.Latvian={years:"Gadi",months:"Mēneši",days:"Dienas",hours:"Stundas",minutes:"Minūtes",seconds:"Sekundes"},FlipClock.Lang.lv=FlipClock.Lang.Latvian,FlipClock.Lang["lv-lv"]=FlipClock.Lang.Latvian,FlipClock.Lang.latvian=FlipClock.Lang.Latvian,jQuery,FlipClock.Lang.Dutch={years:"Jaren",months:"Maanden",days:"Dagen",hours:"Uren",minutes:"Minuten",seconds:"Seconden"},FlipClock.Lang.nl=FlipClock.Lang.Dutch,FlipClock.Lang["nl-be"]=FlipClock.Lang.Dutch,FlipClock.Lang.dutch=FlipClock.Lang.Dutch,jQuery,FlipClock.Lang.Norwegian={years:"År",months:"Måneder",days:"Dager",hours:"Timer",minutes:"Minutter",seconds:"Sekunder"},FlipClock.Lang.no=FlipClock.Lang.Norwegian,FlipClock.Lang.nb=FlipClock.Lang.Norwegian,FlipClock.Lang["no-nb"]=FlipClock.Lang.Norwegian,FlipClock.Lang.norwegian=FlipClock.Lang.Norwegian,jQuery,FlipClock.Lang.Portuguese={years:"Anos",months:"Meses",days:"Dias",hours:"Horas",minutes:"Minutos",seconds:"Segundos"},FlipClock.Lang.pt=FlipClock.Lang.Portuguese,FlipClock.Lang["pt-br"]=FlipClock.Lang.Portuguese,FlipClock.Lang.portuguese=FlipClock.Lang.Portuguese,jQuery,FlipClock.Lang.Russian={years:"лет",months:"месяцев",days:"дней",hours:"часов",minutes:"минут",seconds:"секунд"},FlipClock.Lang.ru=FlipClock.Lang.Russian,FlipClock.Lang["ru-ru"]=FlipClock.Lang.Russian,FlipClock.Lang.russian=FlipClock.Lang.Russian,jQuery,FlipClock.Lang.Ukraine={years:"років",months:"місяців",days:"днів",hours:"годин",minutes:"хвилин",seconds:"секунд"},FlipClock.Lang.ua=FlipClock.Lang.Ukraine,FlipClock.Lang["uk-ua"]=FlipClock.Lang.Ukraine,FlipClock.Lang.ukraine=FlipClock.Lang.Ukraine,jQuery,FlipClock.Lang.Swedish={years:"År",months:"Månader",days:"Dagar",hours:"Timmar",minutes:"Minuter",seconds:"Sekunder"},FlipClock.Lang.sv=FlipClock.Lang.Swedish,FlipClock.Lang["sv-se"]=FlipClock.Lang.Swedish,FlipClock.Lang.swedish=FlipClock.Lang.Swedish,jQuery,FlipClock.Lang.Chinese={years:"年",months:"月",days:"日",hours:"时",minutes:"分",seconds:"秒"},FlipClock.Lang.zh=FlipClock.Lang.Chinese,FlipClock.Lang["zh-cn"]=FlipClock.Lang.Chinese,FlipClock.Lang.chinese=FlipClock.Lang.Chinese;


!function(e){"function"==typeof define&&define.amd?define(["jquery"],e):e(jQuery)}(function(M){var e,i=M(window).width(),n=M(window).height(),l=[];M(window).resize(function(){clearTimeout(e),e=setTimeout(function(){M(window).width()===i&&M(window).height()===n||(M(l).each(function(){M(this).flexMenu({undo:!0}).flexMenu(this.options)}),i=M(window).width(),n=M(window).height())},200)}),M.fn.flexMenu=function(e){var i,w=M.extend({threshold:2,cutoff:2,linkText:"...",linkTitle:"",linkTextAll:"",linkTitleAll:"",showOnHover:!0,popupAbsolute:!0,popupClass:"",undo:!1},e);return this.options=w,0<=(i=M.inArray(this,l))?l.splice(i,1):l.push(this),this.each(function(){var e,i,n,l,t,o,f=M(this),u=f.find("> li"),d=u.first(),s=u.last(),a=f.find("li").length,r=Math.floor(d.offset().top),p=Math.floor(d.outerHeight(!0)),h=!1;function c(e){return Math.ceil(e.offset().top)>=r+p}if(c(s)&&a>w.threshold&&!w.undo&&f.is(":visible")){var v=M('<ul class="flexMenu-popup" style="display:none;'+(w.popupAbsolute?" position: absolute;":"")+'"></ul>');for(v.addClass(w.popupClass),o=a;1<o;o--){if(i=c(e=f.find("> li:last-child")),o-1<=w.cutoff){M(f.children().get().reverse()).appendTo(v),h=!0;break}if(!i)break;e.appendTo(v)}h?f.append('<li class="flexMenu-viewMore flexMenu-allInPopup"><a href="#" title="'+w.linkTitleAll+'">'+w.linkTextAll+"</a></li>"):f.append('<li class="flexMenu-viewMore"><a href="#" title="'+w.linkTitle+'">'+w.linkText+"</a></li>"),c(n=f.find("> li.flexMenu-viewMore"))&&f.find("> li:nth-last-child(2)").appendTo(v),v.children().each(function(e,i){v.prepend(i)}),n.append(v),f.find("> li.flexMenu-viewMore > a").click(function(e){var i;i=n,M("li.flexMenu-viewMore.active").not(i).removeClass("active").find("> ul").hide(),v.toggle(),n.toggleClass("active"),e.preventDefault()}),w.showOnHover&&"undefined"!=typeof Modernizr&&!Modernizr.touch&&n.hover(function(){v.show(),M(this).addClass("active")},function(){v.hide(),M(this).removeClass("active")})}else if(w.undo&&f.find("ul.flexMenu-popup")){for(l=(t=f.find("ul.flexMenu-popup")).find("li").length,o=1;o<=l;o++)t.find("> li:first-child").appendTo(f);t.remove(),f.find("> li.flexMenu-viewMore").remove()}})}});

"function"!=typeof Object.create&&(Object.create=function(t){function o(){}return o.prototype=t,new o}),function(s,o,t,i){"use strict";var n={_positionClasses:["bottom-left","bottom-right","top-right","top-left","bottom-center","top-center","mid-center"],_defaultIcons:["success","error","info","warning"],init:function(t,o){this.prepareOptions(t,s.toast.options),this.process()},prepareOptions:function(t,o){var i={};"string"==typeof t||t instanceof Array?i.text=t:i=t,this.options=s.extend({},o,i)},process:function(){this.setup(),this.addToDom(),this.position(),this.bindToast(),this.animate()},setup:function(){var t="";if(this._toastEl=this._toastEl||s("<div></div>",{class:"jq-toast-single"}),t+='<span class="jq-toast-loader"></span>',this.options.allowToastClose&&(t+='<span class="close-jq-toast-single">&times;</span>'),this.options.text instanceof Array){this.options.heading&&(t+='<h2 class="jq-toast-heading">'+this.options.heading+"</h2>"),t+='<ul class="jq-toast-ul">';for(var o=0;o<this.options.text.length;o++)t+='<li class="jq-toast-li" id="jq-toast-item-'+o+'">'+this.options.text[o]+"</li>";t+="</ul>"}else this.options.heading&&(t+='<h2 class="jq-toast-heading">'+this.options.heading+"</h2>"),t+=this.options.text;this._toastEl.html(t),!1!==this.options.bgColor&&this._toastEl.css("background-color",this.options.bgColor),!1!==this.options.textColor&&this._toastEl.css("color",this.options.textColor),this.options.textAlign&&this._toastEl.css("text-align",this.options.textAlign),!1!==this.options.icon&&(this._toastEl.addClass("jq-has-icon"),-1!==s.inArray(this.options.icon,this._defaultIcons)&&this._toastEl.addClass("jq-icon-"+this.options.icon)),!1!==this.options.class&&this._toastEl.addClass(this.options.class)},position:function(){"string"==typeof this.options.position&&-1!==s.inArray(this.options.position,this._positionClasses)?"bottom-center"===this.options.position?this._container.css({left:s(o).outerWidth()/2-this._container.outerWidth()/2,bottom:20}):"top-center"===this.options.position?this._container.css({left:s(o).outerWidth()/2-this._container.outerWidth()/2,top:20}):"mid-center"===this.options.position?this._container.css({left:s(o).outerWidth()/2-this._container.outerWidth()/2,top:s(o).outerHeight()/2-this._container.outerHeight()/2}):this._container.addClass(this.options.position):"object"==typeof this.options.position?this._container.css({top:this.options.position.top?this.options.position.top:"auto",bottom:this.options.position.bottom?this.options.position.bottom:"auto",left:this.options.position.left?this.options.position.left:"auto",right:this.options.position.right?this.options.position.right:"auto"}):this._container.addClass("bottom-left")},bindToast:function(){var o=this;this._toastEl.on("afterShown",function(){o.processLoader()}),this._toastEl.find(".close-jq-toast-single").on("click",function(t){t.preventDefault(),"fade"===o.options.showHideTransition?(o._toastEl.trigger("beforeHide"),o._toastEl.fadeOut(function(){o._toastEl.trigger("afterHidden")})):"slide"===o.options.showHideTransition?(o._toastEl.trigger("beforeHide"),o._toastEl.slideUp(function(){o._toastEl.trigger("afterHidden")})):(o._toastEl.trigger("beforeHide"),o._toastEl.hide(function(){o._toastEl.trigger("afterHidden")}))}),"function"==typeof this.options.beforeShow&&this._toastEl.on("beforeShow",function(){o.options.beforeShow(o._toastEl)}),"function"==typeof this.options.afterShown&&this._toastEl.on("afterShown",function(){o.options.afterShown(o._toastEl)}),"function"==typeof this.options.beforeHide&&this._toastEl.on("beforeHide",function(){o.options.beforeHide(o._toastEl)}),"function"==typeof this.options.afterHidden&&this._toastEl.on("afterHidden",function(){o.options.afterHidden(o._toastEl)}),"function"==typeof this.options.onClick&&this._toastEl.on("click",function(){o.options.onClick(o._toastEl)})},addToDom:function(){var t=s(".jq-toast-wrap");if(0===t.length?(t=s("<div></div>",{class:"jq-toast-wrap",role:"alert","aria-live":"polite"}),s("body").append(t)):this.options.stack&&!isNaN(parseInt(this.options.stack,10))||t.empty(),t.find(".jq-toast-single:hidden").remove(),t.append(this._toastEl),this.options.stack&&!isNaN(parseInt(this.options.stack),10)){var o=t.find(".jq-toast-single").length-this.options.stack;0<o&&s(".jq-toast-wrap").find(".jq-toast-single").slice(0,o).remove()}this._container=t},canAutoHide:function(){return!1!==this.options.hideAfter&&!isNaN(parseInt(this.options.hideAfter,10))},processLoader:function(){if(!this.canAutoHide()||!1===this.options.loader)return!1;var t=this._toastEl.find(".jq-toast-loader"),o=(this.options.hideAfter-400)/1e3+"s",i=this.options.loaderBg,s=t.attr("style")||"";s=s.substring(0,s.indexOf("-webkit-transition")),s+="-webkit-transition: width "+o+" ease-in;                       -o-transition: width "+o+" ease-in;                       transition: width "+o+" ease-in;                       background-color: "+i+";",t.attr("style",s).addClass("jq-toast-loaded")},animate:function(){var t=this;if(this._toastEl.hide(),this._toastEl.trigger("beforeShow"),"fade"===this.options.showHideTransition.toLowerCase()?this._toastEl.fadeIn(function(){t._toastEl.trigger("afterShown")}):"slide"===this.options.showHideTransition.toLowerCase()?this._toastEl.slideDown(function(){t._toastEl.trigger("afterShown")}):this._toastEl.show(function(){t._toastEl.trigger("afterShown")}),this.canAutoHide()){t=this;o.setTimeout(function(){"fade"===t.options.showHideTransition.toLowerCase()?(t._toastEl.trigger("beforeHide"),t._toastEl.fadeOut(function(){t._toastEl.trigger("afterHidden")})):"slide"===t.options.showHideTransition.toLowerCase()?(t._toastEl.trigger("beforeHide"),t._toastEl.slideUp(function(){t._toastEl.trigger("afterHidden")})):(t._toastEl.trigger("beforeHide"),t._toastEl.hide(function(){t._toastEl.trigger("afterHidden")}))},this.options.hideAfter)}},reset:function(t){"all"===t?s(".jq-toast-wrap").remove():this._toastEl.remove()},update:function(t){this.prepareOptions(t,this.options),this.setup(),this.bindToast()},close:function(){this._toastEl.find(".close-jq-toast-single").click()}};s.toast=function(t){var o=Object.create(n);return o.init(t,this),{reset:function(t){o.reset(t)},update:function(t){o.update(t)},close:function(){o.close()}}},s.toast.options={text:"",heading:"Ошибка!",showHideTransition:"fade",allowToastClose:!0,hideAfter:5e3,loader:!1,loaderBg:"#445369",stack:20,position:"top-right",bgColor:!1,textColor:!1,textAlign:"left",icon:"error",beforeShow:function(){},afterShown:function(){},beforeHide:function(){},afterHidden:function(){},onClick:function(){}}}(jQuery,window,document);
</script>
<?php if((isset($oct_policy_value) && !empty($oct_policy_value) && $oct_policy_value) || (isset($oct_information_bar_value) && !empty($oct_information_bar_value) && $oct_information_bar_value))  { ?>
<script>
function getCookie(name) {
	var matches = document.cookie.match(new RegExp(
	"(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
	));
	
	return matches ? decodeURIComponent(matches[1]) : 'undefined';
}

<?php if(isset($oct_policy_value) && !empty($oct_policy_value) && $oct_policy_value) { ?>
function get_oct_policy() {
	$.ajax({
		url: "index.php?route=common/footer/getOctPolicy",
		type: "post",
		dataType: "json",
		success: function(t) {
			if (t['text_oct_policy']) {
				var html = '<div id="oct-policy" class="fixed-bottom"><div class="container"><div class="row"><div class="col-lg-12 d-flex align-items-center justify-content-between"><div class="oct-policy-text">'+ t['text_oct_policy'] +'</div><button type="button" id="oct-policy-btn">'+ t['oct_policy_accept'] +'</button></div></div></div></div>';
				
				$('body').append(html);
				
				$('#oct-policy-btn').on('click', function () {
					$('#oct-policy').addClass('clicked');
					const date = new Date(t['oct_policy_day_now'].replace(/-/g, "/"));
					date.setTime(date.getTime() + (t['oct_max_day'] * 24 * 60 * 60 * 1000));
					document.cookie = t['oct_policy_value']+'=1; path=/; expires=' + date.toUTCString();
				});
			}
		},
		error: function(e, t, i) {
			alert(i + "\r\n" + e.statusText + "\r\n" + e.responseText)
		}
	});
}

$(function() {
	if (getCookie('<?php echo $oct_policy_value; ?>') == 'undefined') {
		get_oct_policy();
	}
});
<?php } ?>

<?php if(isset($oct_information_bar_value) && !empty($oct_information_bar_value) && $oct_information_bar_value) { ?>
function get_oct_information_bar() {
	$.ajax({
		url: "index.php?route=common/footer/getOctInformationBar",
		type: "post",
		dataType: "json",
		success: function(t) {
			if (t['text_oct_information_bar']) {
				var html = '<div id="oct-information_bar" class="fixed-bottom"><div class="container"><div class="row"><div class="col-lg-12 d-flex align-items-center justify-content-between"><div class="oct-information_bar-text">'+ t['text_oct_information_bar'] +'</div><button type="button" id="oct-information_bar-btn">'+ t['oct_close'] +'</button></div></div></div></div>';
				
				$("#top").before(html);
				
				$('#oct-information_bar-btn').on('click', function () {
					$('#oct-information_bar').addClass('clicked');
					const date = new Date(t['oct_information_bar_day_now'].replace(/-/g, "/"));
					date.setTime(date.getTime() + (t['oct_max_day'] * 24 * 60 * 60 * 1000));
					document.cookie = t['oct_information_bar_value']+'=1; path=/; expires=' + date.toUTCString();
				});
			}
		},
		error: function(e, t, i) {
			alert(i + "\r\n" + e.statusText + "\r\n" + e.responseText)
		}
	});
}

$(function() {
	if (getCookie('<?php echo $oct_information_bar_value; ?>') == 'undefined') {
		get_oct_information_bar();
	}
});
<?php } ?>
</script>
<?php } ?>

</body>
</html>