.menu-row {
  background-color: $brown;
}
@media only screen and (min-width: 993px) {
  #oct-menu-box {
    height: 52px;
  }
}

#menu {
  .nav {
    > li {
      &:first-child {
        background-color: $red;
      }
      &:hover {
          border-color: transparent;
      }
      > a {
        padding: 15px;
      }
    }
  }
}

#menu .megamenu-full-width-parrent .megamenu-parent-img img:hover {
  animation: none;
}