#top {
	min-height: 38px;
}

#top #top-left-links ul li a, 
#top #top-left-links ul li a:visited,
#top #top-left-links ul li a:hover {
	border-left: 0;
	height: 38px;
	line-height: 38px;
	font-size: 11px;
  padding: 0 10px;
  border-bottom: 0;
  &.current-link {
    color: $red;
  }
}


#top #top-right-links > ul > li > a, 
#top #top-right-links > ul > li > a:visited, 
#top #top-right-links > ul > li > a:hover {
	height: 38px;
  line-height: 38px;
  font-size: 11px;
}

#top #top-right-links > ul > li,
#top #top-right-links > ul > li:hover {
  	border-bottom: 0;
}