.flip-clock-wrapper *{-webkit-box-sizing: border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;}
.flip-clock-wrapper a{cursor:pointer;text-decoration:none;color:transparent;}
.flip-clock-wrapper a:hover{color:#fff;}
.flip-clock-wrapper ul{list-style:none;}
.flip-clock-wrapper.clearfix:before,.flip-clock-wrapper.clearfix:after{content:" ";display:table;}
.flip-clock-wrapper.clearfix:after{clear:both;}
.flip-clock-wrapper.clearfix{*zoom:1;}
.flip-clock-wrapper{font: normal 10px "Helvetica Neue", Helvetica, sans-serif;-webkit-user-select:none;}
.flip-clock-meridium{background:none !important;box-shadow:0 0 0 !important;font-size:36px !important;}
.flip-clock-meridium a{color:#313333;}
.flip-clock-wrapper{text-align:center;position:relative;width:100%;height: 30px;margin: 15px 0px 10px;}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after{content: " ";display: table;}
.flip-clock-wrapper:after{clear:both;}
.flip-clock-wrapper ul{position: relative;float: left;border-radius: 0;margin: 3px;width: 12px;padding: 0px;height: 100%;font-size: 14px;font-weight: normal;line-height: 35px;background: #fff;}
.flip-clock-wrapper ul li {z-index:1;position:absolute;left:0;top:0;width: 17px;height: 30px;line-height: 27px;/* font-size: 14px; */text-decoration: none !important;}
.flip-clock-wrapper ul li:first-child { z-index: 2; }
.flip-clock-wrapper ul li a {display: block;height: 100%;-webkit-perspective: 200px;-moz-perspective: 200px;perspective: 200px;margin: 0 !important;overflow: visible !important;cursor: default !important;}
.flip-clock-wrapper ul li a div {z-index: 1;position: absolute;left: 0;width: 100%;height: 49%;font-size: 80px;/*overflow: hidden;*/outline: 1px solid transparent;}
.flip-clock-wrapper ul li a div .shadow { position: absolute; width: 100%; height: 100%; z-index: 2}
.flip-clock-wrapper ul li a div.up { -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; top: 0; }
.flip-clock-wrapper ul li a div.up:after { content: ""; position: absolute; top: 20px; left: 0; z-index: 5; width: 100%;  height: 0px; background-color: #000; background-color: rgba(0, 0, 0, 0); }
.flip-clock-wrapper ul li a div.down { -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; -o-transform-origin: 50% 0; transform-origin: 50% 0; bottom: 0;}
.flip-clock-wrapper ul li a div div.inn {position: absolute;left: 0;z-index: 1;width: 100%;font-size: 24px;height: 200%;color: #ada479;text-shadow: none;text-align: center;background-color: #fff;border-radius: 0;font-family: 'ProximaNovaLight';letter-spacing: 3px;}
.flip-clock-wrapper ul li a div.up div.inn { top: 1px; }
.flip-clock-wrapper ul li a div.down div.inn { bottom: 0; }
/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before { z-index: 3; }
.flip-clock-wrapper .flip {/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); *//* width: 30px; */}
.flip-clock-wrapper ul.play li.flip-clock-active { -webkit-animation: asd 0.5s 0.5s linear both; -moz-animation: asd 0.5s 0.5s linear both; animation: asd 0.5s 0.5s linear both; z-index: 5; }
.flip-clock-divider {float: left;display: inline-block;position: relative;width: 20px;height: 10px;}
.flip-clock-divider:first-child {width: 0;}
.flip-clock-dot {display: block;background: #adcecc;width: 3px;height: 3px;position: absolute;border-radius: 50%;left: 1px;}
.flip-clock-divider .flip-clock-label {position: absolute;bottom: -33px;right: -33px;color: #adcecc;font-weight: normal;text-shadow: none;}
.flip-clock-divider.days .flip-clock-label {right: -29px;}
.seo-block .flip-clock-divider .flip-clock-label {display:none;}
.flip-clock-divider.minutes .flip-clock-label {right: -35px;}
.flip-clock-divider.seconds .flip-clock-label {right: -36px;}
.flip-clock-dot.top {top: 20px;display: none;}
.flip-clock-dot.bottom {bottom: -2px;display: none;}
@-webkit-keyframes asd {
  0% {
    z-index: 2; }
 
  20% {
    z-index: 4; }
 
  100% {
    z-index: 4; } }
 
@-moz-keyframes asd {
  0% {
    z-index: 2; }
 
  20% {
    z-index: 4; }
 
  100% {
    z-index: 4; } }
 
@-o-keyframes asd {
  0% {
    z-index: 2; }
 
  20% {
    z-index: 4; }
 
  100% {
    z-index: 4; } }
 
@keyframes asd {
  0% {
    z-index: 2; }
 
  20% {
    z-index: 4; }
 
  100% {
    z-index: 4; } }
 
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }
 
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }
 
  100% {
    -webkit-transform: rotateX(0deg); } }
 
@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }
 
  100% {
    -moz-transform: rotateX(0deg); } }
 
@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }
 
  100% {
    -o-transform: rotateX(0deg); } }
 
@keyframes turn {
  0% {
    transform: rotateX(90deg); }
 
  100% {
    transform: rotateX(0deg); } }
 
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2; }
 
@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }
 
  100% {
    -webkit-transform: rotateX(-90deg); } }
 
@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }
 
  100% {
    -moz-transform: rotateX(-90deg); } }
 
@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }
 
  100% {
    -o-transform: rotateX(-90deg); } }
 
@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }
 
  100% {
    transform: rotateX(-90deg); } }
 
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
  height: 30px;
  }
 
/* SHADOW */

 
/*DOWN*/

 
@-webkit-keyframes show {
  0% {
    opacity: 0; }
 
  100% {
    opacity: 1; } }
 
@-moz-keyframes show {
  0% {
    opacity: 0; }
 
  100% {
    opacity: 1; } }
 
@-o-keyframes show {
  0% {
    opacity: 0; }
 
  100% {
    opacity: 1; } }
 
@keyframes show {
  0% {
    opacity: 0; }
 
  100% {
    opacity: 1; } }
 
@-webkit-keyframes hide {
  0% {
    opacity: 1; }
 
  100% {
    opacity: 0; } }
 
@-moz-keyframes hide {
  0% {
    opacity: 1; }
 
  100% {
    opacity: 0; } }
 
@-o-keyframes hide {
  0% {
    opacity: 1; }
 
  100% {
    opacity: 0; } }
 
@keyframes hide {
  0% {
    opacity: 1; }
 
  100% {
    opacity: 0; } }