<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-review" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-author"><?php echo $entry_author; ?></label>
            <div class="col-sm-10">
              <input type="text" name="author" value="<?php echo $author; ?>" placeholder="<?php echo $entry_author; ?>" id="input-author" class="form-control" />
              <?php if ($error_author) { ?>
              <div class="text-danger"><?php echo $error_author; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text"><?php echo $entry_text; ?></label>
            <div class="col-sm-10">
              <textarea name="text" cols="60" rows="8" placeholder="<?php echo $entry_text; ?>" id="input-text" class="form-control"><?php echo $text; ?></textarea>
              <?php if ($error_text) { ?>
              <div class="text-danger"><?php echo $error_text; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-admin_text"><?php echo $entry_admin_text; ?></label>
            <div class="col-sm-10">
              <textarea name="admin_text" cols="60" rows="8" placeholder="<?php echo $entry_admin_text; ?>" id="input-admin_text" class="form-control summernote"><?php echo $admin_text; ?></textarea>
            </div>
          </div>
          <div class="form-group"<?php if (!empty($avg_ratings)) { ?>style="display:none;"<?php } ?>>
            <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_avg_rating; ?></label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="avg_rating" value="1" <?php if ($avg_rating == 1) { ?>checked="checked" <?php } ?> /> 1
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_rating" value="2" <?php if ($avg_rating == 2) { ?>checked="checked" <?php } ?> /> 2
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_rating" value="3" <?php if ($avg_rating == 3) { ?>checked="checked" <?php } ?> /> 3
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_rating" value="4" <?php if ($avg_rating == 4) { ?>checked="checked" <?php } ?> /> 4
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_rating" value="5" <?php if ($avg_rating == 5) { ?>checked="checked" <?php } ?> /> 5
              </label>
            </div>
          </div>
          <?php foreach ($avg_ratings as $key=>$rating) { ?>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name"><?php echo $rating['name']; ?></label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="avg_ratings[<?php echo $key; ?>]" value="1" <?php if ($rating['rating'] == 1) { ?>checked="checked" <?php } ?> /> 1
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_ratings[<?php echo $key; ?>]" value="2" <?php if ($rating['rating'] == 2) { ?>checked="checked" <?php } ?> /> 2
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_ratings[<?php echo $key; ?>]" value="3" <?php if ($rating['rating'] == 3) { ?>checked="checked" <?php } ?> /> 3
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_ratings[<?php echo $key; ?>]" value="4" <?php if ($rating['rating'] == 4) { ?>checked="checked" <?php } ?> /> 4
              </label>
              <label class="radio-inline">
                <input type="radio" name="avg_ratings[<?php echo $key; ?>]" value="5" <?php if ($rating['rating'] == 5) { ?>checked="checked" <?php } ?> /> 5
              </label>
            </div>
          </div>
          <?php } ?>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-date-added"><?php echo $entry_date_added; ?></label>
            <div class="col-sm-3">
              <div class="input-group datetime">
                <input type="text" name="date_added" value="<?php echo $date_added; ?>" placeholder="<?php echo $entry_date_added; ?>" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-added" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                <?php if ($status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
  <?php if ($ckeditor) { ?>
      ckeditorInit('input-admin_text', getURLVar('token'));
  <?php } ?>

$('.datetime').datetimepicker({
   pickDate: true,
   pickTime: true
});
//--></script>
<?php echo $footer; ?>
